{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load tailwind_filters %}
{% load static %}

{% block content %}
<div class="container mx-auto max-w-screen-xl my-10 px-5 sm:p-0">
  <!-- 본문 -->
  <div class="border p-3 rounded-lg">
    <div class="flex justify-between items-center">
      <!-- 프로필 사진 / 닉네임 / 작성 날짜 -->
      <div class="mt-2 flex items-center  gap-3">
        <a href="{% url 'accounts:profile' post.user %}">
          <img class="w-10 sm:w-20 rounded-full" {% if post.user.profile_image %} src="{{ post.user.profile_image.url }}" {% else %} src="{% static 'img/profile_image2.png' %}" {% endif %}  alt="">
        </a>
        <div class="flex gap-3 text-sm my-3 items-center">
          <a class="flex" href="{% url 'accounts:profile' post.user  %}"> <p class=" text-base hover:text-blue-800 hover:underline">{{ post.user.nickname }}</p></a>
          {% comment %} |<p class="text-gray-600">{{ post.created_at }}</p> {% endcomment %}
          <div class="hidden md:block text-gray-600">
            {{ post.created_at }}
          </div>
          <div class="block md:hidden text-gray-600">
            {{ post.created_at|date:'Y-m-d H:i' }}
          </div>
        </div>
      </div>
      <!-- dropdown section-->
      <div>
        {% if request.user == post.user %}
          <button id="dropdownMenuIconButton" data-dropdown-toggle="dropdownDots" class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-600" type="button"> 
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z"></path></svg>
          </button>
          {% endif %}
          <!-- Dropdown menu -->
          <div id="dropdownDots" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-36 dark:bg-gray-700 dark:divide-gray-600">
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownMenuIconButton">
              <li>
                <a class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" href="{% url 'communities:update' post.pk %}">수정하기</a>
              </li>
              <li>
                <a class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" href="{% url 'communities:delete' post.pk %}">삭제하기</a>
              </li>
            </ul>
          </div>
      </div>
    </div>
    <div class="ps-12 sm:ps-24">
      <div>
        <h1 class=" text-xl my-4 text-[#2E8B57]">{{ post.title }}</h1>
        <p class="text-md py-3">{{ post.content|linebreaksbr }}</p>
        <div>
          <img class="w-4/5" {% if post.image %} src="{{ post.image.url }}" {% endif %}  alt="">
        </div>
        <form id="like-form" class="my-7" data-post-id="{{ post.pk }}">
          {% csrf_token %}
          {% if request.user.is_authenticated %}
            <button id="likes_btn" class="border border-red-500 text-red-500 hover:bg-red-500 hover:text-white py-2 px-4 rounded">
              <i class="bi bi-heart{% if request.user in post.like_posts.all %}-fill{% endif %} text-danger"></i>
            </button>
          {% else %}
            <button class="border border-red-500 text-red-500 py-2 px-4 rounded cursor-not-allowed opacity-50" disabled>
              <i class="bi bi-heart"></i>
            </button>
          {% endif %}
          <span id="like-post-count">{{ post.like_posts.all.count }}</span>
        </form>
      </div>
    </div>
  </div>
  
  {% if request.user.is_authenticated %}
    <form id="review-form" class="mt-5" data-pk="{{ post.pk }}" data-csrftoken="{{ csrf_token }}" data-url="{% url 'communities:comment_create' post.pk %}">
      {% csrf_token %}
      <div class="border rounded-lg p-5 pb-0">
        <p class="font-bold ms-4">{{ request.user.nickname }}</p>
        {{ comment_form.content|as_crispy_field }}
        <div class="flex justify-end">
          <button type="submit" id="review_create_submit" class="text-white bg-[#2e8b57] hover:bg-[#3CB371] focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-2.5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">작성</button>
        </div>
      </div>
    </form>
  {% endif %}

  <section id="reviews">
    <p class="text-xl font-bold mt-3 mb-5 border-b border-b-[#2e8b57]">댓글 <span id="review-count">{{ comments.count }}</span></p>
    {% for comment in comments %}
    <div id="review" {% if request.user == comment.user %} class="grid grid-cols-12 text-sm gap-3 py-5 px-3 bg-[#9ACD32]/[0.2] border-b" {% else %} class="grid grid-cols-12 text-sm mt-3 px-3 border-b" {% endif %} data-csrftoken="{{ csrf_token }}" data-recipe-pk="{{ comment.pk }}" data-review-pk="{{ comment.pk }}"  data-update-url="{% url 'communities:comment_update' post.pk comment.pk %}" data-delete-url="{% url 'communities:comment_delete' post.pk comment.pk %}">
      <!-- 댓글 작성자 프로필 사진 -->
      <div class="col-span-2 sm:col-span-1 flex items-start mb-1">
        <img class="w-10 rounded-full" {% if comment.user.profile_image %} src="{{ comment.user.profile_image.url }}" {% else %} src="{% static 'img/profile_image2.png' %}"{% endif %} alt="profile">
      </div>
      <!-- 작성자 / 내용 -->
      <div class="col-span-10 sm:col-span-11">
        <div class="flex justify-between">
          {% comment %} <p class="font-bold mb-1">{{ comment.user.nickname }}</p> {% endcomment %}
          <a class=" hover:text-blue-800 hover:underline" href="{% url 'accounts:profile' comment.user %}"> <p class="font-bold mb-1">{{ comment.user.nickname }}</p></a>
          {% if request.user == comment.user %}
          <div>
            <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown-{{ comment.pk }}" type="button"><i class="bi bi-three-dots-vertical"></i></button>
            <div id="dropdown-{{ comment.pk }}" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-20 dark:bg-gray-700">
              <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                <li>
                  <a id="edit-btn" class="block m-0 px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer">수정</a>
                </li>
                <li>
                  <a id="delete-btn" class="block m-0 px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer">삭제</a>
                </li>
              </ul>
            </div>
          </div>
          {% endif %}
        </div>
        <div id="review" class="mb-2" data-csrftoken="{{ csrf_token }}" data-recipe-pk="{{ recipe.pk }}" data-review-pk="{{ review.pk }}"  data-update-url="{% url 'recipes:review_update' %}">
          <p id="review-content" class="col-span-6 flex items-center">{{ comment.content|linebreaksbr }}</p>
          <div id="comment-textarea" class="hidden col-span-6 w-full mb-4 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
            <div class="px-4 py-2 bg-white rounded-t-lg dark:bg-gray-800">
              <label for="comment" class="sr-only">Your comment</label>
              <textarea id="review-update-field" rows="4" class="w-full px-0 text-sm text-gray-900 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400">{{ comment.content|linebreaksbr }}</textarea>
            </div>
            <div class="flex items-cente gap-3 px-3 py-2 border-t dark:border-gray-600">
              <button id="submit-btn" type="submit" class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-[#2E8B57] rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-[#3CB371]">
                  수정
              </button>
              <button id="cancel-btn" class="text-gray-500">취소</button>
            </div>
          </div>
          <!-- 댓글 작성 날 -->
        </div>
        <p class="text-gray-500 mb-3">{{ comment.created_at|date:'Y-m-d H:i' }}</p>
      </div>
    </div>
    {% endfor %}
  </section>

  <!-- 인접 게시물 -->
  <section class="mt-10">
    <div class="relative overflow-x-auto flex flex-col items-center ">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 table-auto">
        <thead class="text-xs text-gray-700 uppercase bg-[#f0fff0] dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="py-3 text-center">
              글번호
            </th>
            <th scope="col" class="px-6 py-3  md:w-3/5">
              제목
            </th>
            <th scope="col" class="px-4 md:px-6 py-3 ">
              작성시간
            </th>
            <th scope="col" class="px-6 py-3">
              작성자
            </th>
          </tr>
        </thead>
        <tbody>
          {% for post in adj_posts %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-100">
              <td class="px-6 py-4 text-center ">
                {{ post.pk }}
              </td>
              <td class="px-6 py-4">
                <div class="truncate overflow-auto md:overflow-visible">
                  <a class="hover:underline decoration-1" href="{% url 'communities:detail' post.pk %}">
                    {{ post.title }}
                  </a>
                  <span class="text-[#2e8b57] ms-1">[{{ post.posts.all.count }}]</span>
                    {% if post.image %}
                      <span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 inline-block">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 15.75l5.159-5.159a2.25 2.25 0 013.182 0l5.159 5.159m-1.5-1.5l1.409-1.409a2.25 2.25 0 013.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 001.5-1.5V6a1.5 1.5 0 00-1.5-1.5H3.75A1.5 1.5 0 002.25 6v12a1.5 1.5 0 001.5 1.5zm10.5-11.25h.008v.008h-.008V8.25zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                        </svg>
                      </span>
                    {% endif %}
                </div>
              </td>
              <td class="px-6 py-4">
                <div class=" hidden md:block">
                  {{ post.created_at|date:'y-m-d H:i' }}
                </div>
                <div class="block md:hidden whitespace-nowrap">
                  {{ post.created_at|date:'m-d' }}
                </div>
              </td>
              <td class="px-6 py-4">
                <a class="hover:underline decoration-1" href="{% url 'accounts:profile' post.user %}">{{ post.user.nickname }}</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
</div>
{% endblock content %}


{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'js/communities/review.js' %}"></script>
<script src="{% static 'js/communities/like.js' %}"></script>
{% endblock script %}