{% extends 'base.html' %}
{% load tailwind_filters %}
{% load static %}

{% block content %}
<p>detail</p>
<div class="m-3 p-3 shadow-xl">
    <p> 글 번호 : {{post.pk}} </p>
    <p> 제목 : {{post.title}}</p>
    <p>내용 : {{post.content}}</p>

    <form class="like-form" data-post-id="{{post.pk}}" >
      {% csrf_token %}
      {% if request.user in post.like_posts.all %}
        <button title="{{post.like_posts.all|length}}" type="submit" value="좋아요 취소" id="like-{{post.pk}}">
          <i class="bi bi-heart-fill" id="like-heart"></i>
        </button>
      {% else %}
        <button title="{{post.like_posts.all|length}}" type="submit" svalue="좋아요" id="like-{{post.pk}}">
          <i class="bi bi-heart" id="like-heart"></i>
        </button>
      {% endif %}
    </form>
    <a href="{% url 'communities:delete' post.pk %}" >삭제하기</a>
    <a href="{% url 'communities:update' post.pk %}">수정하기</a>

    <hr>
    {% comment %} <a href="{% url 'communities:comment_create' post.pk %}">댓글 작성</#a> {% endcomment %}
   
   <section id="comments">
    {% if request.user.is_authenticated %}

      <form id="comment-form" data-post-id="{{post.pk}}" action="{% url 'communities:comment_create' post.pk %}" method="post">
        {% csrf_token %}
        <div class="border rounded-lg p-5 pb-0">
          <p class="font-bold ms-4">{{ request.user.nickname }}</p>
          {{ comment_form.content }}
          <div class="flex justify-end">
            <button type="submit" id="comment_create_submit" class="text-white bg-[#2e8b57] hover:bg-[#3CB371] focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-2.5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">작성</button>
          </div>
        </div>
      </form>
      <hr>
      {% for comment in comments %}
        {% if comment.post.pk == post.pk%}
          <div id="comment" {% if request.user == comment.user %} class="flex text-sm gap-3 py-5 px-3 bg-[#9ACD32]/[0.2]" {% else %} class="flex text-sm gap-3 my-5 px-3" {% endif %} data-csrftoken="{{ csrf_token }}" data-post-pk="{{ post.pk }}" data-comment-pk="{{ comment.pk }}"  data-update-url="{% url 'communities:comment_update' post.pk comment.pk %}" data-delete-url="{% url 'communities:comment_delete' post.pk comment.pk %}">
            <!--작성자 프로필 사진 -->
            <div class="flex items-start gap-3 mb-1">
              <img class="w-10 rounded-full" {% if comment.user.profile_image %} src="{{ comment.user.profile_image.url }}" {% else %} src="{% static 'img/profile_image2.png' %}"{% endif %} alt="profile">
            </div>
            <p> 작성자 : {{comment.user}} </p>
            <p> 댓글 내용 : {{comment.content}} </p>
            <a href="{% url 'communities:comment_update' post.pk comment.pk %}">수정하기</a>
            <a href="{% url 'communities:comment_delete' post.pk comment.pk %}">삭제하기</a>
          </div>
        {% endif %}
    
      {% endfor %}
      <hr class="mb-4">
  {% endif %}
   </section>
    
  </div>

{% endblock content %}


{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<!--좋아요 비동기-->
<script>
  const forms = document.querySelectorAll('.like-form')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

  forms.forEach( (form) => {
    form.addEventListener('submit', function(event) {
      event.preventDefault()

      const postId = event.target.dataset.postId
      axios({
        method : 'post',
        url: `http://127.0.0.1:8000/communities/${postId}/like/`,
        headers : {'X-CSRFToken': csrftoken},
      })

      

      .then((response) => {
        const like = response.data.like
        const likeBtn = document.querySelector(`#like-${postId}`)
        const likeBtni = form.querySelector('#like-heart')
        if (like === true) {
          likeBtni.classList.remove('bi-heart')
          likeBtni.classList.add('bi-heart-fill') 
        } else {
          likeBtni.classList.remove('bi-heart-fill')
          likeBtni.classList.add('bi-heart')  
        }
        
      })

      .catch((error) => {
        console.log(error.response)
      })
    })
  })


</script>

<!--댓글 작성-->
<script>
const commentSection = document.querySelector('#comments')
const comments = document.querySelectorAll('#comment')

const commentForm = document.querySelector('#comment-form')
const commentField = document.querySelector('#id_content')
commentField.setAttribute('rows', '2')
commentField.setAttribute('placeholder', '여기에 댓글을 작성해보세요!')
commentField.classList.add ('border-0')
commentField.classList.add ('focus:ring-0')
commentField.classList.add ('resize-none')

const commentSubmit = commentForm.querySelector('#rcomment_create_submit')
commentSubmit.addEventListener('click', (e) => {
  e.preventDefault()
  let param = {
    'pk': commentForm.dataset.pk,
    'content': commentField.value
  }
  $.ajax({
    url: commentForm.dataset.url,
    type: 'POST',
    headers: {
      'X-CSRFTOKEN': commentForm.dataset.csrftoken
    },
    data: JSON.stringify(param),
    success:function(data) {
    },
    error: function() {
      alert('오류!')
    }
  })
})

const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

  form.addEventListener('submit', function(event) {
    event.preventDefault()

    const postId = event.target.dataset.postId
    axios({
      method: 'post',
      url: `http://127.0.0.1:8000/communities/${postId}/create/`,
      headers: {'X-CSRFToken': csrftoken}
    })
    .then((response) => {
      const successUrl = response.data.success_url
      window.location.href = successUrl
    })
    .catch((error) => {
      console.log(error.response)
    })
  })
</script>
{% endblock script %}