{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container mx-auto max-w-screen-xl">

    <div>
      <h1 class="logo-font text-4xl text-center pt-10 dark:text-gray-300">| EQUIPS |</h1>
      <p class="text-center text-base dark:text-gray-300">조리도구 별 요리를 골라보세요 !</p>
    </div>

    <div class="grid grid-cols-2 sm:grid-cols-4 place-items-center gap-5 mt-10 px-10">
      <button name="filter" value="microwave" class="filtering">
        <div class="w-32 h-32 sm:w-48 sm:h-48 flex flex-col justify-center items-center bg-[#f0fff0] relative group hover:bg-green-700 hover:bg-gradient-to-r hover:from-green-400 hover:via-green-500 hover:to-green-600">
          <img class="rounded-lg object-cover cursor-pointer w-24 sm:w-40" src="{% static 'img/equip/microwave.png' %}" alt="">
          <p class="hidden absolute text-xl font-semibold top-2/4 left-2/4 transform -translate-x-1/2 -translate-y-1/2 group-hover:block text-white w-full text-center">전자레인지</p>
        </div>
      </button>
      <button name="filter" value="oven" class="filtering">
        <div class="w-32 h-32 sm:w-48 sm:h-48 flex flex-col justify-center items-center bg-[#f0fff0] relative group hover:bg-green-700 hover:bg-gradient-to-r hover:from-green-400 hover:via-green-500 hover:to-green-600">
          <img class="rounded-lg object-cover cursor-pointer w-24 sm:w-40" src="{% static 'img/equip/oven.png' %}" alt="">
          <p class="hidden absolute text-xl font-semibold top-2/4 left-2/4 transform -translate-x-1/2 -translate-y-1/2 group-hover:block text-white w-full text-center">오븐</p>
        </div>
      </button>
      <button name="filter" value="air_fryer" class="filtering">
        <div class="w-32 h-32 sm:w-48 sm:h-48 flex flex-col justify-center items-center bg-[#f0fff0] relative group hover:bg-green-700 hover:bg-gradient-to-r hover:from-green-400 hover:via-green-500 hover:to-green-600">
          <img class="rounded-lg object-cover cursor-pointer w-24 sm:w-40" src="{% static 'img/equip/airfryer.png' %}" alt="">
          <p class="hidden absolute text-xl font-semibold top-2/4 left-2/4 transform -translate-x-1/2 -translate-y-1/2 group-hover:block text-white w-full text-center">에어프라이어</p>
        </div>
      </button>
      <button name="filter" value="stove" class="filtering">
        <div class="w-32 h-32 sm:w-48 sm:h-48 flex flex-col justify-center items-center bg-[#f0fff0] relative group hover:bg-green-700 hover:bg-gradient-to-r hover:from-green-400 hover:via-green-500 hover:to-green-600">
          <img class="rounded-lg object-cover cursor-pointer w-24 sm:w-40" src="{% static 'img/equip/stove.png' %}" alt="">
          <p class="hidden absolute text-xl font-semibold top-2/4 left-2/4 transform -translate-x-1/2 -translate-y-1/2 group-hover:block text-white w-full text-center">가스레인지</p>
        </div>
      </button>
    </div>

    <div class="container mx-auto">
      <section class="border-t-4 pt-10 mt-10">
        <div class="flex justify-center sm:w-[1200px] sm:flex sm:justify-end sm:items-center sm:mx-auto">
          <div></div>
          <div class="flex justify-center">
      
            <div class="flex flex-row items-center px-2 z-10 bg-white dark:bg-gray-400">
              <button id="dropdownOffsetButton1" data-dropdown-toggle="dropdownOffset1" data-dropdown-offset-skidding="0" class="sm:px-2 py-2 text-sm sm:text-base hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">최신순</button>
              <span class="mx-2 text-gray-300">|</span>
              <button id="dropdownOffsetButton2" data-dropdown-toggle="dropdownOffset2" data-dropdown-offset-skidding="0" class="sm:px-2 py-2 text-sm sm:text-base hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">추천순</button>
              <span class="mx-2 text-gray-300">|</span>
              <button id="dropdownOffsetButton3" data-dropdown-toggle="dropdownOffset3" data-dropdown-offset-skidding="0" class="sm:px-2 py-2 text-sm sm:text-base hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">난이도순</button>
              <span class="mx-2 text-gray-300">|</span>
              <button id="dropdownOffsetButton4" data-dropdown-toggle="dropdownOffset4" data-dropdown-offset-skidding="0" class="sm:px-2 py-2 text-sm sm:text-base hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">소요시간순</button>
              <span class="mx-2 text-gray-300">|</span>
              <button id="dropdownOffsetButton5" data-dropdown-toggle="dropdownOffset5" data-dropdown-offset-skidding="0" class="sm:px-2 py-2 text-sm sm:text-base hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">조회수순</button>
            </div>

            <div id="dropdownOffset1" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-20 dark:bg-gray-700">
              <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefault">
                <li>
                  <button name="sort" value="created_at_asc" class="sorting w-full py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">오름차순</button>
                </li>
                <li>
                  <button name="sort" value="created_at_desc" class="sorting w-full py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">내림차순</button>
                </li>
              </ul>
            </div>

            <div id="dropdownOffset2" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-20 dark:bg-gray-700">
              <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefault">
                <li>
                  <button name="sort" value="liked_asc" class="sorting w-full py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">오름차순</button>
                </li>
                <li>
                  <button name="sort" value="liked_desc" class="sorting w-full py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">내림차순</button>
                </li>
              </ul>
            </div>

            <div id="dropdownOffset3" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-20 dark:bg-gray-700">
              <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefault">
                <li>
                  <button name="sort" value="difficulty_asc" class="sorting w-full py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">오름차순</button>
                </li>
                <li>
                  <button name="sort" value="difficulty_desc" class="sorting w-full py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">내림차순</button>
                </li>
              </ul>
            </div>

            <div id="dropdownOffset4" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-20 dark:bg-gray-700">
              <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefault">
                <li>
                  <button name="sort" value="time_asc" class="sorting w-full py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">오름차순</button>
                </li>
                <li>
                  <button name="sort" value="time_desc" class="sorting w-full py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">내림차순</button>
                </li>
              </ul>
            </div>

            <div id="dropdownOffset5" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-20 dark:bg-gray-700">
              <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefault">
                <li>
                  <button name="sort" value="views_asc" class="sorting w-full py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">오름차순</button>
                </li>
                <li>
                  <button name="sort" value="views_desc" class="sorting w-full py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">내림차순</button>
                </li>
              </ul>
            </div>
            
          </div>
        </div>

        <div class="flex">
          <div class=" grid grid-cols-2 md:grid-cols-4 gap-4 mx-auto mt-9 ">
            {% for recipe in page_obj %}
            <div>
              <a class="inline-block" href="{% url 'recipes:recipe_detail' recipe.pk %}">
                <div class="w-36 sm:w-72 bg-white dark:bg-gray-600">
                  <div class="class">
                    <img class="object-cover w-36 h-36 sm:w-72 sm:h-72 border border-[#0000000f]" {% if recipe.image.url|slice:':14' == '/media/recipes' %} src="{{ recipe.image.url }}" {% else %} src="{{ recipe.image }}" {% endif %} alt="">
                  </div>
                  <div class="py-5 sm:p-5 text-center">
                    <h5 class="mb-2 text-sm sm:text-xl font-bold  text-gray-900 dark:text-white line-clamp-1">{{ recipe.title }}</h5>
                    <!--난이도 -->
                    <div class="flex flex-col justify-center">
                      <div class="flex items-center justify-center sm:gap-2">
                        <span class="dark:text-gray-200">난이도</span>
                        {% if recipe.difficulty == 1 %}
                          <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                        {% elif recipe.difficulty == 2 %}
                          <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                          <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                        {% elif recipe.difficulty == 3 %}
                          <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                          <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                          <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                        {% elif recipe.difficulty == 4 %}
                          <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                          <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                          <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                          <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                        {% elif recipe.difficulty == 5 %}
                          <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                          <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                          <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                          <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                          <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                        {% endif %}
                        <span class="dark:text-gray-200">
                          <i class="bi bi-eye ms-2">
                          </i>{{recipe.views}}
                        </span>
                      </div>
                      <!--조리시간 -->
                      <div class="flex items-center justify-center gap-2">
                        <img class="w-7" src="{% static 'img/coocking-time.png' %}" alt="조리시간">
                        <span class="font-normal text-gray-700 dark:text-gray-200">
                          {% if recipe.get_hour != 0 %}{{ recipe.get_hour }}시간 {% endif %}
                          {% if recipe.get_minute != 0 %}{{ recipe.get_minute }}분{% endif %}
                        </span>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>

      <nav aria-label="Page navigation example" class="flex justify-center py-14">
        <ul class="inline-flex -space-x-px">
          {% if page_obj.has_previous %}
            <li>
              <button name="page" value="{{ page_obj.previous_page_number }}" class="page px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">이전</button>
            </li>
          {% else %}
            <li>
              <button class="page px-3 py-2 ml-0 leading-tight text-gray-500 bg-gray-200 border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white pointer-events-none">이전</button>
            </li>
          {% endif %}

          {% for index in pagelist %}
            {% if index == page_obj.number %}
              <li>
                <button name="page" value="{{index}}" class="page px-3 py-2 leading-tight text-white border border-gray-300 bg-[#8FBC8F] dark:border-gray-700 dark:bg-gray-700 dark:text-white">{{ index }}</button>
              </li>
            {% else %}
              <li>
                <button name="page" value="{{index}}" class="page px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ index }}</button>
              </li>
            {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
            <li>
              <button name="page" value="{{ page_obj.next_page_number }}" class="page px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">다음</button>
            </li>
          {% else %}
            <li>
              <button class="page px-3 py-2 leading-tight text-gray-500 bg-gray-200 border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white pointer-events-none">다음</button>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const filteringButtons = document.querySelectorAll('.filtering');
      filteringButtons.forEach((btn) => {
        const btnName = btn.getAttribute('name');
        const btnValue = btn.getAttribute('value');
        btn.addEventListener('click', () => {
          const Url = window.location.href;
  
          if (btnValue === '모두보기') {
            const newUrl = Url.replace(new RegExp(`[?&]${btnName}=[^&]+`), '');
            const newUrlWithoutSort = newUrl.replace(/[?&]sort=[^&]+/g, '');
            const newUrlWithoutPage = newUrlWithoutSort.replace(/[?&]page=[^&]+/g, '');
            window.location.href = newUrlWithoutPage;
          } else if (Url.includes(`?${btnName}=${btnValue}`)) {
            const newUrl = Url.replace(`?${btnName}=${btnValue}`, '');
            const newUrlWithoutSort = newUrl.replace(/[?&]sort=[^&]+/g, '');
            const newUrlWithoutPage = newUrlWithoutSort.replace(/[?&]page=[^&]+/g, '');
            window.location.href = newUrlWithoutPage;
          } else if (Url.includes(`?${btnName}=`)) {
            const newUrl = Url.replace(new RegExp(`\\?${btnName}=[^&]+`), `?${btnName}=${btnValue}`);
            const newUrlWithoutSort = newUrl.replace(/[?&]sort=[^&]+/g, '');
            const newUrlWithoutPage = newUrlWithoutSort.replace(/[?&]page=[^&]+/g, '');
            window.location.href = newUrlWithoutPage;
          } else {
            const newUrl = `${Url}?${btnName}=${btnValue}`;
            const newUrlWithoutSort = newUrl.replace(/[?&]sort=[^&]+/g, '');
            const newUrlWithoutPage = newUrlWithoutSort.replace(/[?&]page=[^&]+/g, '');
            window.location.href = newUrlWithoutPage;
          }
        });
      });
  
      const sortingButtons = document.querySelectorAll('.sorting');
      sortingButtons.forEach((btn) => {
        const btnName = btn.getAttribute('name');
        const btnValue = btn.getAttribute('value');
        btn.addEventListener('click', () => {
          const Url = window.location.href;
          
          if (Url.includes(`?filter=`)) {
            if (Url.includes(`&${btnName}=${btnValue}`)) {
              const newUrl = Url.replace(`&${btnName}=${btnValue}`, '');
              const newUrlWithoutPage = newUrl.replace(/[?&]page=[^&]+/g, '');
              window.location.href = newUrlWithoutPage;
            } else if (Url.includes(`&${btnName}=`)) {
              const newUrl = Url.replace(new RegExp(`&${btnName}=[^&]+`), `&${btnName}=${btnValue}`);
              const newUrlWithoutPage = newUrl.replace(/[?&]page=[^&]+/g, '');
              window.location.href = newUrlWithoutPage;
            } else {
              const newUrl = `${Url}&${btnName}=${btnValue}`;
              const newUrlWithoutPage = newUrl.replace(/[?&]page=[^&]+/g, '');
              window.location.href = newUrlWithoutPage;
            }
          }
          else {
            if (Url.includes(`?${btnName}=${btnValue}`)) {
              const newUrl = Url.replace(`?${btnName}=${btnValue}`, '');
              const newUrlWithoutPage = newUrl.replace(/[?&]page=[^&]+/g, '');
              window.location.href = newUrlWithoutPage;
            } else if (Url.includes(`?${btnName}=`)) {
              const newUrl = Url.replace(new RegExp(`\\?${btnName}=[^&]+`), `?${btnName}=${btnValue}`);
              const newUrlWithoutPage = newUrl.replace(/[?&]page=[^&]+/g, '');
              window.location.href = newUrlWithoutPage;
            } else {
              const newUrl = `${Url}?${btnName}=${btnValue}`;
              const newUrlWithoutPage = newUrl.replace(/[?&]page=[^&]+/g, '');
              window.location.href = newUrlWithoutPage;
            }
          }
        });
      });

      const pageButtons = document.querySelectorAll('.page');
      pageButtons.forEach((btn) => {
        const btnName = btn.getAttribute('name');
        const btnValue = btn.getAttribute('value');
        btn.addEventListener('click', () => {
          const Url = window.location.href;
          if (Url.includes(`?filter=`) || Url.includes(`?sort=`)) {
            if (Url.includes(`&${btnName}=`)) {
              const newUrl = Url.replace(new RegExp(`\\&${btnName}=[^&]+`), `&${btnName}=${btnValue}`);
              window.location.href = newUrl;
            } else {
              const newUrl = `${Url}&${btnName}=${btnValue}`;
              window.location.href = newUrl;
            }
          }
          else {
            if (Url.includes(`?${btnName}=`)) {
              const newUrl = Url.replace(new RegExp(`\\?${btnName}=[^&]+`), `?${btnName}=${btnValue}`);
              window.location.href = newUrl;
            } else {
              const newUrl = `${Url}?${btnName}=${btnValue}`;
              window.location.href = newUrl;
            }
          }
        });
      });
    });
  </script>
{% endblock content %}
