{% extends 'base.html' %}

{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/recipes/fridge.css' %}">
{% endblock style %}

{% block content %}
  <div class="container mx-auto max-w-screen-xl p-3">
    {% if request.user.is_authenticated %}
      <h1 class="logo-font flex justify-center text-xl sm:text-4xl my-10 dark:text-gray-300">| {{ request.user.username }}님의 냉장고 입니다. |</h1>
    {% else %}
      <h1 class="logo-font flex justify-center text-xl sm:text-4xl my-10 dark:text-gray-300">| 로그인을 해주세요. |</h1>
    {% endif %}
    <div class='lg:flex lg:justify-center relative'>
      <img class="hidden lg:block w-3/4" src="{% static 'img/fridge.jpg' %}" alt="">
      <div id="fridge-list" class="grid grid-cols-3 gap-x-14 gap-y-20 lg:absolute top-[6.5rem] left-[14.5rem]">
        {% for my_ingrd in already %}
          <button id="{{ forloop.counter }}" data-tooltip-target="ingredient-{{ forloop.counter }}" type="button" class="truncate rounded-full text-white text bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium py-2.5 text-center w-20 h-20">{{ my_ingrd }}</button>
          <div id="ingredient-{{ forloop.counter }}" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            {{ my_ingrd }}
            <div class="tooltip-arrow" data-popper-arrow="data-popper-arrow"></div>
          </div>
        {% endfor %}
        {% for button in buttons %}
          <button id="{{ button }}" data-tooltip-target="ingredient-{{ button }}" type="button" class="truncate rounded-full text-white text bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium py-2.5 text-center w-20 h-20">+</button>
          <div id="ingredient-{{ button }}" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            +
            <div class="tooltip-arrow" data-popper-arrow="data-popper-arrow"></div>
          </div>
        {% endfor %}
      </div>
      <fieldset class="mx-auto lg:absolute lg:top-[1.5rem] lg:right-[11rem] w-10 h-[430px] lg:w-[425px] lg:h-[605px] bg-white text-center mt-10 sm:mt-0 dark:bg-gray-600 dark:border-gray-600">
        <div class="flex justify-end">
          <button id="ingrd-delete" type="button" class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm p-1 mr-2 mt-2 text-center dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
            </svg>
          </button>
          <button id="ingrd-cancel" type="button" class="hidden text-gray-600 hover:text-white border border-gray-500 hover:bg-gray-500 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm p-1 text-center mr-2 mt-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800">취소</button>
        </div>
        <label for="browser" class="logo-font text-xl dark:text-gray-200">- 냉장고 재료를 선택하세요. -</label>
        <p class="text-red-500 text-sm dark:text-red-950">이미 냉장고에 있는 재료는 추가 불가능합니다.</p>
       
        <form id="fridge-form" data-url="{% url 'recipes:recipe_fridge' %}">
          {% csrf_token %}
          <input class="mt-8 read-only:bg-gray-300 dark:bg-gray-400 dark:border-gray-500 dark:placeholder:text-gray-600" autocomplete="off" role="combobox" list="" id="input" name="browsers" {% if not request.user.is_authenticated %} placeholder="로그인 해주세요 !" readonly {% else %} placeholder="재료를 검색하세요 !" {% endif %}>
          <datalist id="browsers" role="listbox" class="dark:bg-gray-400 dark:border-gray-600">
            {% for ingredient in left %}
              <option id="{{ ingredient.name }}" value="{{ ingredient.name }}" class="dark:bg-gray-400 dark:text-gray-950">{{ ingredient.name }}</option>
            {% endfor %}
          </datalist>
        </form>
        <button class="mt-[230px] sm:mt-[405px] text-gray-900 bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-teal-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2" onClick="window.location.reload()">입력완료</button>
      </fieldset>
    </div>



    <!-- 냉장고 레시피-->
    {% if user_ingredients_names|length != 0 %}
      <section class="half-bg-weather p-8 px-14 border shadow-lg bg-white rounded-lg my-14 dark:bg-gray-700 dark:border-gray-700 dark:text-white">
        <div>
          <div class="mb-6 flex items-center justify-center">
            <img class="w-10 mb-2" src="{% static 'img/icon_fridge.svg' %}" alt="">
            <h1 class="logo-font lg:text-4xl text-center">나의 냉장고로 만들 수 있는 요리 BEST <span><b>{{total_recipes|length}}건</b></span></h1>
          </div>
          <div class="recipe-fridge-slide">
            {% for recipe in total_recipes %}
            <div class="">
              <a class="inline-block" href="{% url 'recipes:recipe_detail' recipe.pk %}">
                <div class="w-56 sm:w-72 relative bg-white dark:bg-gray-800 dark:border-gray-700">
                  <div class="w-56 sm:w-72 hover:brightness-50 peer">
                    <img class="object-cover w-56 sm:w-72 h-56 sm:h-72" {% if recipe.image.url|slice:':14' == '/media/recipes' %} src="{{ recipe.image.url }}" {% else %} src="{{ recipe.image }}" {% endif %} alt="">
                  </div>
                  <div class="hidden absolute peer-hover:flex flex-col justify-center top-[37.5%] left-2/4 transform -translate-x-1/2 -translate-y-1/2 text-white w-full">
                    <div class="flex items-center justify-center gap-2">
                      <span>난이도</span>
                      {% if recipe.difficulty == 1 %}
                        <img src="{% static 'img/rating-star.svg' %}" alt="">
                      {% elif recipe.difficulty == 2 %}
                        <img src="{% static 'img/rating-star.svg' %}" alt="">
                        <img src="{% static 'img/rating-star.svg' %}" alt="">
                      {% elif recipe.difficulty == 3 %}
                        <img src="{% static 'img/rating-star.svg' %}" alt="">
                        <img src="{% static 'img/rating-star.svg' %}" alt="">
                        <img src="{% static 'img/rating-star.svg' %}" alt="">
                      {% elif recipe.difficulty == 4 %}
                        <img src="{% static 'img/rating-star.svg' %}" alt="">
                        <img src="{% static 'img/rating-star.svg' %}" alt="">
                        <img src="{% static 'img/rating-star.svg' %}" alt="">
                        <img src="{% static 'img/rating-star.svg' %}" alt="">
                      {% elif recipe.difficulty == 5 %}
                        <img src="{% static 'img/rating-star.svg' %}" alt="">
                        <img src="{% static 'img/rating-star.svg' %}" alt="">
                        <img src="{% static 'img/rating-star.svg' %}" alt="">
                        <img src="{% static 'img/rating-star.svg' %}" alt="">
                        <img src="{% static 'img/rating-star.svg' %}" alt="">
                      {% endif %}
                    </div>
                    <!--조리시간 -->
                    <div class="flex items-center justify-center gap-2">
                      <img class="w-7 brightness-200" src="{% static 'img/cooking-time-white.png' %}" alt="조리시간">
                      <span class="font-normal text-white dark:text-gray-400">
                        {% if recipe.get_hour != 0 %}{{ recipe.get_hour }}시간 {% endif %}
                        {% if recipe.get_minute != 0 %}{{ recipe.get_minute }}분{% endif %}
                      </span>
                    </div>
                  </div>
                  <div class="p-5 text-center">
                    <h5 class="sm:mb-2 sm:text-xl text-base font-bold tracking-tight text-gray-900 dark:text-white line-clamp-2 sm:line-clamp-1">{{ recipe.title }}</h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 truncate text-center">{{ recipe.content }}</p>
                  </div>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
    {% endif %}
    

    <!--냉장고 재료 별 만들 수 있는 요리-->
    {% for i in user_ingredients_names %}
      <section class="half-bg-weather p-8 px-14 border shadow-lg bg-white rounded-lg mb-14 dark:bg-gray-700 dark:border-gray-700 dark:text-white">
        <div>
          <div class="mb-6">
            <h1 class="logo-font lg:text-4xl text-center mb-3"> {{i}} 으/로 만들 수 있는 요리 </h1>
          </div>
          <div class="recipe-fridge-slide">
              {% for recipe in total_recipes %}
                {% for recipe_ingredient in recipe.recipeingredient_set.all %}
                  {% if recipe_ingredient.ingredient.name == i %}
                    <div class="">
                      <a class="inline-block" href="{% url 'recipes:recipe_detail' recipe.pk %}">
                        <div class="w-56 sm:w-72 relative bg-white dark:bg-gray-800 dark:border-gray-700">
                          <div class="w-56 sm:w-72 hover:brightness-50 peer">
                            <img class="object-cover w-56 sm:w-72 h-56 sm:h-72" {% if recipe.image.url|slice:':14' == '/media/recipes' %} src="{{ recipe.image.url }}" {% else %} src="{{ recipe.image }}" {% endif %} alt="">
                          </div>
                          <div class="hidden absolute peer-hover:flex flex-col justify-center top-[37.5%] left-2/4 transform -translate-x-1/2 -translate-y-1/2 text-white w-full">
                            <div class="flex items-center justify-center gap-2">
                              <span>난이도</span>
                              {% if recipe.difficulty == 1 %}
                                <img src="{% static 'img/rating-star.svg' %}" alt="">
                              {% elif recipe.difficulty == 2 %}
                                <img src="{% static 'img/rating-star.svg' %}" alt="">
                                <img src="{% static 'img/rating-star.svg' %}" alt="">
                              {% elif recipe.difficulty == 3 %}
                                <img src="{% static 'img/rating-star.svg' %}" alt="">
                                <img src="{% static 'img/rating-star.svg' %}" alt="">
                                <img src="{% static 'img/rating-star.svg' %}" alt="">
                              {% elif recipe.difficulty == 4 %}
                                <img src="{% static 'img/rating-star.svg' %}" alt="">
                                <img src="{% static 'img/rating-star.svg' %}" alt="">
                                <img src="{% static 'img/rating-star.svg' %}" alt="">
                                <img src="{% static 'img/rating-star.svg' %}" alt="">
                              {% elif recipe.difficulty == 5 %}
                                <img src="{% static 'img/rating-star.svg' %}" alt="">
                                <img src="{% static 'img/rating-star.svg' %}" alt="">
                                <img src="{% static 'img/rating-star.svg' %}" alt="">
                                <img src="{% static 'img/rating-star.svg' %}" alt="">
                                <img src="{% static 'img/rating-star.svg' %}" alt="">
                              {% endif %}
                            </div>
                            <!--조리시간 -->
                            <div class="flex items-center justify-center gap-2">
                              <img class="w-7 brightness-200" src="{% static 'img/cooking-time-white.png' %}" alt="조리시간">
                              <span class="font-normal text-white dark:text-gray-400">
                                {% if recipe.get_hour != 0 %}{{ recipe.get_hour }}시간 {% endif %}
                                {% if recipe.get_minute != 0 %}{{ recipe.get_minute }}분{% endif %}
                              </span>
                            </div>
                          </div>
                          <div class="p-5 text-center">
                            <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white line-clamp-1">{{ recipe.title }}</h5>
                            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 truncate text-center">{{ recipe.content }}</p>
                          </div>
                        </div>
                      </a>
                    </div>
                  {% endif %}
                  {% empty %}
                {% endfor %} 
              {% endfor %} 
          </div>
        </div>
      </section>
     
    {% endfor %}

    

    


  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.js"></script>
  <script>
    
  </script>
  <script src="{% static 'js/recipes/carousel.js' %}"></script>
  <script src="{% static 'js/recipes/fridge.js' %}"></script>
{% endblock content %}