{% extends 'base.html' %}

{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/recipes/fridge.css' %}">
{% endblock style %}

{% block content %}
  <div class="container mx-auto max-w-screen-xl">
    {% if request.user.is_authenticated %}
      <h1 class="logo-font flex justify-center text-4xl my-10">| {{ request.user.username }}님의 냉장고 입니다. |</h1>
    {% else %}
      <h1 class="logo-font flex justify-center text-4xl my-10">| 로그인을 해주세요. |</h1>
    {% endif %}
    <div class='flex justify-center relative'>
      <img class="w-3/4" src="{% static 'img/fridge.jpg' %}" alt="">
      <div id="fridge-list" class="grid grid-cols-3 gap-x-14 gap-y-20 absolute top-[6.5rem] left-[14.5rem]">

        <!-- 1 -->
        <button data-tooltip-target="ingredient-0" type="button" class="rounded-full text-white text-2xl bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium px-5 py-2.5 text-center w-20 h-20">+</button>
        <div id="ingredient-0" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
          <div class="tooltip-arrow" data-popper-arrow="data-popper-arrow"></div>
        </div>

        <!-- 2 -->

        <button data-tooltip-target="ingredient-1" type="button" class="rounded-full text-white text-2xl bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium px-5 py-2.5 text-center w-20 h-20">+</button>
        <div id="ingredient-1" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">

          <div class="tooltip-arrow" data-popper-arrow="data-popper-arrow"></div>
        </div>

        <!-- 3 -->

        <button data-tooltip-target="ingredient-2" type="button" class="rounded-full text-white text-2xl bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium px-5 py-2.5 text-center w-20 h-20">+</button>
        <div id="ingredient-2" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">

          <div class="tooltip-arrow" data-popper-arrow="data-popper-arrow"></div>
        </div>

        <!-- 4 -->

        <button data-tooltip-target="ingredient-3" type="button" class="rounded-full text-white text-2xl bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium px-5 py-2.5 text-center w-20 h-20">+</button>
        <div id="ingredient-3" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
          <div class="tooltip-arrow" data-popper-arrow="data-popper-arrow"></div>
        </div>

        <!-- 5 -->

        <button data-tooltip-target="ingredient-4" type="button" class="rounded-full text-white text-2xl bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium px-5 py-2.5 text-center w-20 h-20">+</button>
        <div id="ingredient-4" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
          <div class="tooltip-arrow" data-popper-arrow="data-popper-arrow"></div>
        </div>

        <!-- 6 -->

        <button data-tooltip-target="ingredient-5" type="button" class="rounded-full text-white text-2xl bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium px-5 py-2.5 text-center w-20 h-20">+</button>
        <div id="ingredient-5" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
          <div class="tooltip-arrow" data-popper-arrow="data-popper-arrow"></div>
        </div>

        <!-- 7 -->

        <button data-tooltip-target="ingredient-6" type="button" class="rounded-full text-white text-2xl bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium px-5 py-2.5 text-center w-20 h-20">+</button>
        <div id="ingredient-6" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
          <div class="tooltip-arrow" data-popper-arrow="data-popper-arrow"></div>
        </div>

        <!-- 8 -->

        <button data-tooltip-target="ingredient-7" type="button" class="rounded-full text-white text-2xl bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium px-5 py-2.5 text-center w-20 h-20">+</button>
        <div id="ingredient-7" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
          <div class="tooltip-arrow" data-popper-arrow="data-popper-arrow"></div>
        </div>

        <!-- 9 -->

        <button data-tooltip-target="ingredient-8" type="button" class="rounded-full text-white text-2xl bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium px-5 py-2.5 text-center w-20 h-20">+</button>
        <div id="ingredient-8" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
          <div class="tooltip-arrow" data-popper-arrow="data-popper-arrow"></div>
        </div>

      </div>
      <fieldset class="absolute top-[2rem] right-[12rem] w-[425px] h-[605px] bg-white text-center pt-8">
        <label for="browser" class="logo-font text-xl">- 냉장고 재료를 선택하세요. -</label>
        <p class="text-red-500 text-sm">이미 냉장고에 있는 재료는 추가 불가능합니다.</p>
        {% comment %} <input class="mt-8" autocomplete="off" role="combobox" list="" id="input" name="browsers" placeholder="재료를 검색하세요 !">
        <datalist id="browsers" role="listbox">
          <option value="파">파</option>
          <option value="당근">당근</option>
          <option value="배추">배추</option>
          <option value="양파">양파</option>
          <option value="오이">오이</option>
          <option value="피망">피망</option>
          <option value="사과">사과</option>
          <option value="오렌지">오렌지</option>
          <option value="자몽">자몽</option>
          <option value="아보카도">아보카도</option>
        </datalist> {% endcomment %}
        <form action="{% url 'recipes:recipe_fridge' %}" method="POST">
          {% csrf_token %}
          <input class="mt-8" autocomplete="off" role="combobox" list="" id="input" name="browsers" placeholder="재료를 검색하세요 !">
          <datalist id="browsers" role="listbox">
            {% for ingredient in left %}
              <option value="{{ ingredient }}">{{ ingredient.name }}</option>
            {% endfor %}
          </datalist>
        </form>
      </fieldset>
    </div>
    <section class="my-60">
      <div>
        <div class="mb-6">
          <h1 class="logo-font text-4xl text-center mb-3">냉장고</h1>
        </div>
        <div class="recipe-fridge-slide">
          <div class="">
            <a class="inline-block" href="#">
              <div class="recipe-wrapper bg-white dark:bg-gray-800 dark:border-gray-700">
                <div>
                  <img class="w-fit" src="https://cdn.discordapp.com/attachments/1100972915958235296/1110827567675625554/7.jpeg" alt=""/>
                </div>
                <div class="p-5">
                  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
                  <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
                </div>
              </div>
            </a>
          </div>

          <div>
            <a class="inline-block" href="#">
              <div class="recipe-wrapper bg-white dark:bg-gray-800 dark:border-gray-700">
                <div>
                  <img class="object-cover h-72" src="https://cdn.discordapp.com/attachments/1100972915958235296/1110830867049357343/resized_SmartSelect_20220928_193644_YouTube.jpg" alt=""/>
                </div>
                <div class="p-5">
                  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
                  <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
                </div>
              </div>
            </a>
          </div>

          <div>
            <a class="inline-block" href="#">
              <div class="recipe-wrapper bg-white dark:bg-gray-800 dark:border-gray-700">
                <div>
                  <img class="object-cover recipe-wrapper h-72" src="https://cdn.discordapp.com/attachments/1100972915958235296/1110827802946703430/e0147c2e083e50818e468babff9e8a76bf9dd24c_20230225_003103_waifu2x_photo_noise1_scale_waifu2x_photo_noise2_scale.png" alt=""/>
                </div>
                <div class="p-5">
                  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
                  <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
                </div>
              </div>
            </a>
          </div>

          <div class="">
            <a class="inline-block" href="#">
              <div class="recipe-wrapper bg-white dark:bg-gray-800 dark:border-gray-700">
                <div>
                  <img class="object-cover recipe-wrapper h-72" src="https://media.discordapp.net/attachments/1100972915958235296/1110829107643695104/4.jpeg?width=961&height=1402" alt=""/>
                </div>
                <div class="p-5">
                  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
                  <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
                </div>
              </div>
            </a>
          </div>

          <div>
            <a class="inline-block" href="#">
              <div class="recipe-wrapper bg-white dark:bg-gray-800 dark:border-gray-700">
                <div>
                  <img class="object-cover recipe-wrapper h-72" src="https://cdn.discordapp.com/attachments/1100972915958235296/1110829233279873085/2.jpeg" alt=""/>
                </div>
                <div class="p-5">
                  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
                  <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
                </div>
              </div>
            </a>
          </div>

          <div>
            <a class="inline-block" href="#">
              <div class="recipe-wrapper bg-white dark:bg-gray-800 dark:border-gray-700">
                <div>
                  <img class="object-cover recipe-wrapper h-72" src="https://cdn.discordapp.com/attachments/1100972915958235296/1110829412687040553/i15448150203.png" alt=""/>
                </div>
                <div class="p-5">
                  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
                  <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
                </div>
              </div>
            </a>
          </div>

          <div>
            <a class="inline-block" href="#">
              <div class="recipe-wrapper bg-white dark:bg-gray-800 dark:border-gray-700">
                <div>
                  <img class="object-cover recipe-wrapper h-72" src="https://cdn.discordapp.com/attachments/1100972915958235296/1110829355594158141/e2776e27ae8b44d2.jpeg" alt=""/>
                </div>
                <div class="p-5">
                  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
                  <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.js"></script>
  <script>
    let already = {{ already }}
    let left = {{ left }}
  </script>
  <script src="{% static 'js/recipes/carousel.js' %}"></script>
  <script src="{% static 'js/recipes/fridge.js' %}"></script>
{% endblock content %}