{% extends 'base.html' %}

{% load tailwind_filters %}
{% load static %}

{% block content %}
<div class="container mx-auto">
  <section class="px-3 pt-10 mt-10">
    <div>
      <h2 class="font-bold">
        '{{ keyword }}' 이/가 포함된 레시피 검색결과입니다.
      </h2>
      <div class="flex">
        <div class=" grid grid-cols-2 md:grid-cols-4 gap-4 mx-auto mt-9 ">
          {% for recipe in title_recipes|slice:":4" %}
          <div>
            <a class="inline-block" href="{% url 'recipes:recipe_detail' recipe.pk %}">
              <div class="w-36 sm:w-72 bg-white">
                <div class="class">
                  <img class="object-cover w-36 h-36 sm:w-72 sm:h-72 border border-[#0000000f]" {% if recipe.image.url|slice:':14' == '/media/recipes' %} src="{{ recipe.image.url }}" {% else %} src="{{ recipe.image }}" {% endif %} alt="">
                </div>
                <div class="py-5 sm:p-5 text-center">
                  <h5 class="mb-2 text-sm sm:text-xl font-bold  text-gray-900 dark:text-white line-clamp-1">{{ recipe.title }}</h5>
                  <!--난이도 -->
                  <div class="flex flex-col justify-center">
                    <div class="flex items-center justify-center sm:gap-2">
                      <span>난이도</span>
                      {% if recipe.difficulty == 1 %}
                        <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                      {% elif recipe.difficulty == 2 %}
                        <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                        <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                      {% elif recipe.difficulty == 3 %}
                        <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                        <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                        <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                      {% elif recipe.difficulty == 4 %}
                        <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                        <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                        <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                        <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                      {% elif recipe.difficulty == 5 %}
                        <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                        <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                        <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                        <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                        <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                      {% endif %}
                    </div>
                    <!--조리시간 -->
                    <div class="flex items-center justify-center gap-2">
                      <img class="w-7" src="{% static 'img/coocking-time.png' %}" alt="조리시간">
                      <span class="font-normal text-gray-700 dark:text-gray-400">
                        {% if recipe.get_hour != 0 %}{{ recipe.get_hour }}시간 {% endif %}
                        {% if recipe.get_minute != 0 %}{{ recipe.get_minute }}분{% endif %}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="flex justify-end">
      <p class="text-[#2e8b57]"><a href="{% url 'recipes:recipe_search_name' %}?keyword={{ keyword }}">더보기</a></p>
    </div>
  </section>

  <section class="border-t-4 pt-10 mt-10">
    <div>
      <h2 class="font-bold">
        '{{ keyword }}' 이/가 재료에 포함된 레시피 검색결과입니다.
      </h2>
      <div class="flex">
        <div class="grid grid-cols-2 md:grid-cols-4 gap-4 mx-auto mt-9 ">
          {% for recipe in ingredient_recipes|slice:":4" %}
          <div>
            <a class="inline-block" href="{% url 'recipes:recipe_detail' recipe.pk %}">
              <div class="w-36 sm:w-72 bg-white">
                <div class="class">
                  <img class="object-cover w-36 h-36 sm:w-72 sm:h-72 border border-[#0000000f]" {% if recipe.image.url|slice:':14' == '/media/recipes' %} src="{{ recipe.image.url }}" {% else %} src="{{ recipe.image }}" {% endif %} alt="">
                </div>
                <div class="py-5 sm:p-5 text-center">
                  <h5 class="mb-2 text-sm sm:text-xl font-bold  text-gray-900 dark:text-white line-clamp-1">{{ recipe.title }}</h5>
                  <!--난이도 -->
                  <div class="flex flex-col justify-center">
                    <div class="flex items-center justify-center sm:gap-2">
                      <span>난이도</span>
                      {% if recipe.difficulty == 1 %}
                        <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                      {% elif recipe.difficulty == 2 %}
                        <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                        <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                      {% elif recipe.difficulty == 3 %}
                        <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                        <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                        <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                      {% elif recipe.difficulty == 4 %}
                        <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                        <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                        <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                        <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                      {% elif recipe.difficulty == 5 %}
                        <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                        <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                        <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                        <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                        <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                      {% endif %}
                    </div>
                    <!--조리시간 -->
                    <div class="flex items-center justify-center gap-2">
                      <img class="w-7" src="{% static 'img/coocking-time.png' %}" alt="조리시간">
                      <span class="font-normal text-gray-700 dark:text-gray-400">
                        {% if recipe.get_hour != 0 %}{{ recipe.get_hour }}시간 {% endif %}
                        {% if recipe.get_minute != 0 %}{{ recipe.get_minute }}분{% endif %}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="flex justify-end">
      <p class="text-[#2e8b57]"><a href="{% url 'recipes:recipe_search_ingredient' %}?keyword={{ keyword }}">더보기</a></p>
    </div>
  </section>
</div>
{% endblock content%}