{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <form id="form-container" action="{% url 'recipes:recipe_create' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    {{ formset.management_form }}
    {% for subform in formset %}
    <div class="ingredient-form">
      {{ subform|crispy }}
    </div>
    {% endfor %}
    <button type="button" id="add-ingredient">재료 추가</button>
    <button type="submit">생성</button>
  </form>

  <script>
    let ingredientForm = document.querySelectorAll('.ingredient-form')
    let formContainer = document.getElementById('form-container')
    let addIngredient = document.getElementById('add-ingredient')
    let totalForms = document.getElementById('id_recipeingredient_set-TOTAL_FORMS')
    let formNum = ingredientForm.length - 1

    addIngredient.addEventListener('click', addForm)

    function addForm(e) {
      e.preventDefault()

      let newForm = ingredientForm[0].cloneNode(true)
      let formRegex = RegExp(`recipeingredient_set-(\\d){1}-`,'g')

      formNum++
      newForm.innerHTML = newForm.innerHTML.replace(formRegex, `recipeingredient_set-${formNum}-`)
      formContainer.insertBefore(newForm, addIngredient)
      totalForms.setAttribute('value', `${formNum + 1}`)
    }
  </script>
{% endblock content %}