{% extends 'base.html' %}

{% load static %}

{% block content %}

  {% block style %}
    <style></style>

  {% endblock style %}
  <div>
    <!--제목 ( Our recipes )-->
    <div>
      <h1 class="logo-font text-4xl text-center mt-10">| OUR RECIPES |</h1>
      <p class="text-center text-base">다양한 레시피를 골라서 요리해보세요 !</p>
    </div>
    

    <!--카테고리-->
    <div class=" text-center mt-10 ">
      <ul class="grid grid-cols-4  w-[640px] mx-auto " style="margin-bottom: -1px;">
        <li class="bg-[#8FBC8F] text-white hover:bg-[#3CB371] border border-[#2E8B57] p-2" style="margin: 0 -1px -1px 0;">
          <button name="filter" value="모두보기" class ='filtering'>모두보기</button>
        </li>
        <li class="hover:bg-[#3CB371] hover:text-white border border-[#2E8B57]  p-2" style="margin: 0 -1px -1px 0;">
          <button name="filter" value="메인요리" class ='filtering'>메인요리</button>
        </li>
        <li class=" hover:bg-[#3CB371] hover:text-white border border-[#2E8B57]  p-2" style="margin: 0 -1px -1px 0;">
          <button name="filter" value="밑반찬" class ='filtering'>밑반찬</button>
        </li>
        <li class=" hover:bg-[#3CB371] hover:text-white border border-[#2E8B57]  p-2" style="margin: 0 -1px -1px 0;">
          <button name="filter" value="간식" class ='filtering'>간식</button>
        </li>
        <li class=" hover:bg-[#3CB371]  hover:text-white border border-[#2E8B57]  p-2" style="margin: 0 -1px -1px 0;">
          <button name="filter" value="간단요리" class ='filtering'>간단요리</button>
        </li>
        <li class=" hover:bg-[#3CB371] hover:text-white border border-[#2E8B57]  p-2" style="margin: 0 -1px -1px 0;">
          <button name="filter" value="채식" class ='filtering'>채식</button>
        </li>
        <li class=" hover:bg-[#3CB371] hover:text-white border border-[#2E8B57] p-2" style="margin: 0 -1px -1px 0;">
          <button name="filter" value="한식" class ='filtering'>한식</button>
        </li>
        <li class=" hover:bg-[#3CB371] hover:text-white border border-[#2E8B57] p-2" style="margin: 0 -1px -1px 0;">
          <button name="filter" value="양식" class ='filtering'>양식</button>
        </li>
        <li class=" hover:bg-[#3CB371] hover:text-white border border-[#2E8B57] p-2" style="margin: 0 -1px -1px 0;">
          <button name="filter" value="일식" class ='filtering'>일식</button>
        </li>
        <li class=" hover:bg-[#3CB371] hover:text-white border border-[#2E8B57] p-2" style="margin: 0 -1px -1px 0;">
          <button name="filter" value="중식" class ='filtering'>중식</button>
        </li>
        <li class=" hover:bg-[#3CB371] hover:text-white border border-[#2E8B57] p-2" style="margin: 0 -1px -1px 0;">
          <button name="filter" value="분식" class ='filtering'>분식</button>
        </li>
        <li class=" hover:bg-[#3CB371] hover:text-white  border border-[#2E8B57] p-2" style="margin: 0 -1px -1px 0;">
          <button name="filter" value="안주" class ='filtering'>안주</button>
        </li>
        <li class=" hover:bg-[#3CB371] hover:text-white border border-[#2E8B57] p-2" style="margin: 0 -1px -1px 0;">
          <button name="filter" value="베이킹" class ='filtering'>베이킹</button>
        </li>
      </ul>
    </div>

    <!-- Dropdown menu -->
    <div class="container mx-auto">
      <section class="border-t-4 pt-10 mt-10">
        <div class="flex justify-end md:mx-52">
          <button id="dropdownOffsetButton" data-dropdown-toggle="dropdownOffset" data-dropdown-offset-distance="-35" data-dropdown-offset-skidding="0" class="text-black bg-white hover:bg-white focus:ring-4 focus:outline-none focus:ring-white font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center   type=" button"=" button""=" button" "">최신순
            <svg class=" w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
            </svg>
          </button>

          <div id="dropdownOffset" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefault">
              <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">최신순</a>
              </li>
              <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">추천순</a>
              </li>
              <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">난이도순</a>
              </li>
              <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">조리시간 순</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="flex">
          <div class=" grid grid-cols-2 md:grid-cols-4 gap-4 mx-auto mt-9 ">
            {% for recipe in page_obj %}
              <div>
                <a class="inline-block" href="{% url 'recipes:recipe_detail' recipe.pk %}">
                  <div class="w-72 bg-white">
                    <div class="class">
                      {% if recipe.image %}
                        <img class="object-cover w-72 h-72" src="{{ recipe.image.url }}" alt="">
                      {% else %}
                        <img class="object-cover w-72 h-72 border" src="{% static 'img/no_img.jpeg' %}" alt="">
                      {% endif %}
                    </div>
                    <div class="p-5 text-center">
                      <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">{{ recipe.title }}</h5>
                      <!--난이도 -->
                      <div class="flex flex-col justify-center">
                        <div class="flex items-center justify-center gap-2">
                          <span>난이도</span>
                          {% if recipe.difficulty == 1 %}
                            <img src="{% static 'img/rating-star.svg' %}" alt="">
                          {% elif recipe.difficulty == 2 %}
                            <img src="{% static 'img/rating-star.svg' %}" alt="">
                            <img src="{% static 'img/rating-star.svg' %}" alt="">
                          {% elif recipe.difficulty == 3 %}
                            <img src="{% static 'img/rating-star.svg' %}" alt="">
                            <img src="{% static 'img/rating-star.svg' %}" alt="">
                            <img src="{% static 'img/rating-star.svg' %}" alt="">
                          {% endif %}
                        </div>
                        <!--조리시간 -->
                        <div class="flex items-center justify-center gap-2">
                          <img class="w-7" src="{% static 'img/coocking-time.png' %}" alt="조리시간">
                          <span class="font-normal text-gray-700 dark:text-gray-400">
                            {% if recipe.get_hour != 0 %}{{ recipe.get_hour }}시간 {% endif %}
                            {% if recipe.get_minute != 0 %}{{ recipe.get_minute }}분{% endif %}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="md:mx-36 text-end">
          <a href="{% url 'recipes:recipe_create' %}">
            <button type="button" class="text-white bg-[#3CB371] font-medium rounded-lg text px-3 py-2.5 text-center inline-flex items-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              <img class="w-7 mr-3" src="{% static 'img/icon_pen.svg' %}" alt="">
              레시피 작성
            </button>
          </a>
        </div>
      </section>
      
      <nav aria-label="Page navigation example" class="flex justify-center my-14">
        <ul class="inline-flex -space-x-px">
          {% if page_obj.has_previous %}
            <li>
              <a href="?page={{ page_obj.previous_page_number }}" class="px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">이전</a>
            </li>
          {% else %}
            <li>
              <a class="px-3 py-2 ml-0 leading-tight text-gray-500 bg-gray-200 border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white pointer-events-none">이전</a>
            </li>
          {% endif %}

          {% for index in pagelist %}
            {% if index == page_obj.number %}
              <li>
                <span class="px-3 py-2 text-white border border-gray-300 bg-[#8FBC8F] dark:border-gray-700 dark:bg-gray-700 dark:text-white">{{ index }}</span>
              </li>
            {% else %}
              <li>
                <a class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" href="?page={{ index }}">{{ index }}</a>
              </li>
            {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
            <li>
              <a href="?page={{ page_obj.next_page_number }}" class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">다음</a>
            </li>
          {% else %}
            <li>
              <a class="px-3 py-2 leading-tight text-gray-500 bg-gray-200 border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white pointer-events-none">다음</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>


<script>
  const buttons = document.querySelectorAll('.filtering');

  buttons.forEach((btn) => {
    const btnName = btn.getAttribute('name');
    const btnValue = btn.getAttribute('value');
    btn.addEventListener('click', () => {
      const Url = window.location.href;
      
      if (btnValue === '모두보기') {
        const newUrl = Url.replace(new RegExp(`[?&]${btnName}=[^&]+&?`), '');
        window.location.href = newUrl;
      } else if (Url.includes(`?${btnName}=${btnValue}`)) {
        const newUrl = Url.replace(`?${btnName}=${btnValue}`, '');
        window.location.href = newUrl;
      } else if (Url.includes(`?${btnName}=`)) {
        const newUrl = Url.replace(new RegExp(`\\?${btnName}=[^&]+`), `?${btnName}=${btnValue}`);
        window.location.href = newUrl;
      } else {
        const newUrl = `${Url}?${btnName}=${btnValue}`;
        window.location.href = newUrl;
      }
    });
  });
</script>
  {% endblock content %}