{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/recipes/create.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
{% endblock style %}

{% block content %}
<div class="container mx-auto max-w-screen-xl">
  <form id="form-container" action="{% url 'recipes:recipe_create' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {{ form|crispy }}
    <div class="flex content-center">
      <span class="block text-gray-700 text-sm font-bold mb-2 me-3 leading-relaxed">조리법</span>
    </div>
    {{ stepformset.management_form }}
    {% for stepform in stepformset %}
    <div class="step-form">
      {{ stepform|crispy }}
    </div>
    {% endfor %}
    <button type="button" id="add-step" class="text-white bg-black hover:bg-[#003153] focus:ring-4 focus:ring-blue-300 font-medium text-sm px-3 py-1 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">추가</button>
    <span class="block text-gray-700 text-sm font-bold mb-2">재료</span>
    {{ ingredientformset.management_form }}
    {% for ingredientform in ingredientformset %}
    <div class="ingredient-form hidden">
      <div class="flex content-center">
        {{ ingredientform.ingredient }}
        {{ ingredientform.quantity|as_crispy_field }}
      </div>
    </div>
    {% endfor %}
    <button type="button" id="add-ingredient" class="text-white bg-black hover:bg-[#003153] focus:ring-4 focus:ring-blue-300 font-medium text-sm px-3 py-1 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">재료 추가</button>
    <hr class="mb-2">
    <button type="submit" class="text-white bg-[#2e8b57] hover:bg-[#3CB371] focus:ring-4 focus:ring-blue-300 font-medium text-sm px-3 py-1 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">레시피 등록</button>
  </form>
</div>
{% endblock content %}

{% block script %}
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script>
  let options = {{ options }}
</script>
<script src="{% static 'js/recipes/difficulty.js' %}"></script>
<script src="{% static 'js/recipes/create.js' %}"></script>
{% endblock script %}