{% extends 'base.html' %}

{% load static %}

{% block content %}

  {% block style %}
    <style></style>

  {% endblock style %}
  <div>
    <!--제목 ( Our recipes )-->
    <div>
      <h1 class="logo-font text-4xl text-center pt-10 dark:text-gray-300">| OUR RECIPES |</h1>
      <p class="text-center text-base dark:text-gray-300">다양한 레시피를 골라서 요리해보세요 !</p>
    </div>
    

    <!--카테고리-->
    <div class="text-center mt-10">
      <ul class="grid grid-cols-2 lg:grid-cols-4 w-4/5 lg:w-[640px] mx-auto " style="margin-bottom: -1px;">
        <button name="filter" value="모두보기" class=" {% if category %}dark:text-gray-100 hover:bg-[#3CB371] hover:text-white border border-[#2E8B57] p-2 filtering{%else%}bg-[#8FBC8F] text-white hover:bg-[#3CB371] border border-[#2E8B57] p-2 dark:text-gray-100 filtering {% endif %} " style="margin: 0 -1px -1px 0;">
          모두보기
        </button>
        <button name="filter" value="밑반찬" class=" {% if category == '밑반찬' %} bg-[#8FBC8F] text-white hover:bg-[#3CB371] border border-[#2E8B57] p-2 filtering {%else%} text-black hover:bg-[#3CB371] hover:text-white border border-[#2E8B57] p-2 dark:text-gray-400 filtering{% endif %} " style="margin: 0 -1px -1px 0;">
          밑반찬
        </button>
        <button name="filter" value="간식" class=" {% if category == '간식' %} bg-[#8FBC8F] text-white hover:bg-[#3CB371] border border-[#2E8B57] p-2 filtering {%else%} text-black hover:bg-[#3CB371] hover:text-white border border-[#2E8B57] p-2 dark:text-gray-400 filtering{% endif %} " style="margin: 0 -1px -1px 0;">
          간식
        </button>
        <button name="filter" value="간단요리" class=" {% if category == '간단요리' %} bg-[#8FBC8F] text-white hover:bg-[#3CB371] border border-[#2E8B57] p-2 filtering {%else%} text-black hover:bg-[#3CB371] hover:text-white border border-[#2E8B57] p-2 dark:text-gray-400 filtering{% endif %} " style="margin: 0 -1px -1px 0;">
          간단요리
        </button>
        <button name="filter" value="채식" class=" {% if category == '채식' %} bg-[#8FBC8F] text-white hover:bg-[#3CB371] border border-[#2E8B57] p-2 filtering {%else%} text-black hover:bg-[#3CB371] hover:text-white border border-[#2E8B57] p-2 dark:text-gray-400 filtering{% endif %} " style="margin: 0 -1px -1px 0;">
          채식
        </button>
        <button name="filter" value="한식" class=" {% if category == '한식' %} bg-[#8FBC8F] text-white hover:bg-[#3CB371] border border-[#2E8B57] p-2 filtering {%else%} text-black hover:bg-[#3CB371] hover:text-white border border-[#2E8B57] p-2 dark:text-gray-400 filtering{% endif %} " style="margin: 0 -1px -1px 0;">
          한식
        </button>
        <button name="filter" value="양식" class=" {% if category == '양식' %} bg-[#8FBC8F] text-white hover:bg-[#3CB371] border border-[#2E8B57] p-2 filtering {%else%} text-black hover:bg-[#3CB371] hover:text-white border border-[#2E8B57] p-2 dark:text-gray-400 filtering{% endif %} " style="margin: 0 -1px -1px 0;">
          양식
        </button>
        <button name="filter" value="일식" class=" {% if category == '일식' %} bg-[#8FBC8F] text-white hover:bg-[#3CB371] border border-[#2E8B57] p-2 filtering {%else%} text-black hover:bg-[#3CB371] hover:text-white border border-[#2E8B57] p-2 dark:text-gray-400 filtering{% endif %} " style="margin: 0 -1px -1px 0;">
          일식
        </button>
        <button name="filter" value="중식" class=" {% if category == '중식' %} bg-[#8FBC8F] text-white hover:bg-[#3CB371] border border-[#2E8B57] p-2 filtering {%else%} text-black hover:bg-[#3CB371] hover:text-white border border-[#2E8B57] p-2 dark:text-gray-400 filtering{% endif %} " style="margin: 0 -1px -1px 0;">
          중식
        </button>
        <button name="filter" value="분식" class=" {% if category == '분식' %} bg-[#8FBC8F] text-white hover:bg-[#3CB371] border border-[#2E8B57] p-2 filtering {%else%} text-black hover:bg-[#3CB371] hover:text-white border border-[#2E8B57] p-2 dark:text-gray-400 filtering{% endif %} " style="margin: 0 -1px -1px 0;">
          분식
        </button>
        <button name="filter" value="안주" class=" {% if category == '안주' %} bg-[#8FBC8F] text-white hover:bg-[#3CB371] border border-[#2E8B57] p-2 filtering {%else%} text-black hover:bg-[#3CB371] hover:text-white border border-[#2E8B57] p-2 dark:text-gray-400 filtering{% endif %} " style="margin: 0 -1px -1px 0;">
          안주
        </button>
        <button name="filter" value="베이킹" class=" {% if category == '베이킹' %} bg-[#8FBC8F] text-white hover:bg-[#3CB371] border border-[#2E8B57] p-2 filtering {%else%} text-black hover:bg-[#3CB371] hover:text-white border border-[#2E8B57] p-2 dark:text-gray-400 filtering{% endif %} " style="margin: 0 -1px -1px 0;">
          베이킹
        </button>
      </ul>
    </div>

    <!-- Dropdown menu -->
    <div class="container mx-auto">
      <section class="border-t-4 pt-10 mt-10">
        <div class="flex justify-center sm:w-[1200px] sm:flex sm:justify-end sm:items-center sm:mx-auto">
          <div class="flex justify-center">
      
            <div class="flex flex-row items-center px-2 z-10 bg-white dark:bg-gray-400">
              <button id="dropdownOffsetButton1" data-dropdown-toggle="dropdownOffset1" data-dropdown-offset-skidding="0" class="px-2 py-2 text-sm sm:text-base hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">최신순</button>
              <span class="mx-2 text-gray-300">|</span>
              <button id="dropdownOffsetButton2" data-dropdown-toggle="dropdownOffset2" data-dropdown-offset-skidding="0" class="px-2 py-2 text-sm sm:text-base hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">추천순</button>
              <span class="mx-2 text-gray-300">|</span>
              <button id="dropdownOffsetButton3" data-dropdown-toggle="dropdownOffset3" data-dropdown-offset-skidding="0" class="px-2 py-2 text-sm sm:text-base hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">난이도순</button>
              <span class="mx-2 text-gray-300">|</span>
              <button id="dropdownOffsetButton4" data-dropdown-toggle="dropdownOffset4" data-dropdown-offset-skidding="0" class="px-2 py-2 text-sm sm:text-base hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">소요시간순</button>
            </div>

            <div id="dropdownOffset1" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-20 dark:bg-gray-700">
              <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefault">
                <li>
                  <button name="sort" value="created_at_asc" class="sorting w-full py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">오름차순</button>
                </li>
                <li>
                  <button name="sort" value="created_at_desc" class="sorting w-full py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">내림차순</button>
                </li>
              </ul>
            </div>

            <div id="dropdownOffset2" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-20 dark:bg-gray-700">
              <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefault">
                <li>
                  <button name="sort" value="liked_asc" class="sorting w-full py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">오름차순</button>
                </li>
                <li>
                  <button name="sort" value="liked_desc" class="sorting w-full py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">내림차순</button>
                </li>
              </ul>
            </div>

            <div id="dropdownOffset3" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-20 dark:bg-gray-700">
              <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefault">
                <li>
                  <button name="sort" value="difficulty_asc" class="sorting w-full py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">오름차순</button>
                </li>
                <li>
                  <button name="sort" value="difficulty_desc" class="sorting w-full py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">내림차순</button>
                </li>
              </ul>
            </div>

            <div id="dropdownOffset4" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-20 dark:bg-gray-700">
              <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefault">
                <li>
                  <button name="sort" value="time_asc" class="sorting w-full py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">오름차순</button>
                </li>
                <li>
                  <button name="sort" value="time_desc" class="sorting w-full py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">내림차순</button>
                </li>
              </ul>
            </div>
            
          </div>
        </div>



        <div class="flex">
          <div class=" grid grid-cols-2 md:grid-cols-4 gap-4 mx-auto mt-9 ">
            {% for recipe in page_obj %}
            <div>
              <a class="inline-block" href="{% url 'recipes:recipe_detail' recipe.pk %}">
                <div class="w-36 sm:w-72 bg-white">
                  <div class="class">
                    <img class="object-cover w-36 h-36 sm:w-72 sm:h-72 border border-[#0000000f]" {% if recipe.image.url|slice:':14' == '/media/recipes' %} src="{{ recipe.image.url }}" {% else %} src="{{ recipe.image }}" {% endif %} alt="">
                  </div>
                  <div class="py-5 sm:p-5 text-center">
                    <h5 class="mb-2 text-sm sm:text-xl font-bold  text-gray-900 dark:text-white line-clamp-1">{{ recipe.title }}</h5>
                    <!--난이도 -->
                    <div class="flex flex-col justify-center">
                      <div class="flex items-center justify-center sm:gap-2">
                        <span>난이도</span>
                        {% if recipe.difficulty == 1 %}
                          <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                        {% elif recipe.difficulty == 2 %}
                          <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                          <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                        {% elif recipe.difficulty == 3 %}
                          <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                          <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                          <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                        {% elif recipe.difficulty == 4 %}
                          <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                          <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                          <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                          <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                        {% elif recipe.difficulty == 5 %}
                          <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                          <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                          <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                          <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                          <img class="w-[16px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                        {% endif %}
                      </div>
                      <!--조리시간 -->
                      <div class="flex items-center justify-center gap-2">
                        <img class="w-7" src="{% static 'img/coocking-time.png' %}" alt="조리시간">
                        <span class="font-normal text-gray-700 dark:text-gray-400">
                          {% if recipe.get_hour != 0 %}{{ recipe.get_hour }}시간 {% endif %}
                          {% if recipe.get_minute != 0 %}{{ recipe.get_minute }}분{% endif %}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="md:mx-36 text-center sm:text-end">
          <a href="{% url 'recipes:recipe_create' %}">
            <button type="button" class="text-white bg-[#3CB371] font-xs sm:font-medium rounded-lg px-3 py-2.5 text-center inline-flex items-center mr-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
              <img class=" w-7 sm:mr-3" src="{% static 'img/icon_pen.svg' %}" alt="">
              <span>레시피 작성</span>
            </button>
          </a>
        </div>
      </section>
      
      <nav aria-label="Page navigation example" class="flex justify-center my-14">
        <ul class="inline-flex -space-x-px">
          {% if page_obj.has_previous %}
            <li>
              <button name="page" value="{{ page_obj.previous_page_number }}" class="page px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">이전</button>
            </li>
          {% else %}
            <li>
              <button class="page px-3 py-2 ml-0 leading-tight text-gray-500 bg-gray-200 border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white pointer-events-none">이전</button>
            </li>
          {% endif %}

          {% for index in pagelist %}
            {% if index == page_obj.number %}
              <li>
                <button name="page" value="{{index}}" class="page px-3 py-2 leading-tight text-white border border-gray-300 bg-[#8FBC8F] dark:border-gray-700 dark:bg-gray-700 dark:text-white">{{ index }}</button>
              </li>
            {% else %}
              <li>
                <button name="page" value="{{index}}" class="page px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ index }}</button>
              </li>
            {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
            <li>
              <button name="page" value="{{ page_obj.next_page_number }}" class="page px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">다음</button>
            </li>
          {% else %}
            <li>
              <button class="page px-3 py-2 leading-tight text-gray-500 bg-gray-200 border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white pointer-events-none">다음</button>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>


    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const filteringButtons = document.querySelectorAll('.filtering');
        filteringButtons.forEach((btn) => {
          const btnName = btn.getAttribute('name');
          const btnValue = btn.getAttribute('value');
          btn.addEventListener('click', () => {
            const Url = window.location.href;
    
            if (btnValue === '모두보기') {
              const newUrl = Url.replace(new RegExp(`[?&]${btnName}=[^&]+`), '');
              const newUrlWithoutSort = newUrl.replace(/[?&]sort=[^&]+/g, '');
              const newUrlWithoutPage = newUrlWithoutSort.replace(/[?&]page=[^&]+/g, '');
              window.location.href = newUrlWithoutPage;
            } else if (Url.includes(`?${btnName}=${btnValue}`)) {
              const newUrl = Url.replace(`?${btnName}=${btnValue}`, '');
              const newUrlWithoutSort = newUrl.replace(/[?&]sort=[^&]+/g, '');
              const newUrlWithoutPage = newUrlWithoutSort.replace(/[?&]page=[^&]+/g, '');
              window.location.href = newUrlWithoutPage;
            } else if (Url.includes(`?${btnName}=`)) {
              const newUrl = Url.replace(new RegExp(`\\?${btnName}=[^&]+`), `?${btnName}=${btnValue}`);
              const newUrlWithoutSort = newUrl.replace(/[?&]sort=[^&]+/g, '');
              const newUrlWithoutPage = newUrlWithoutSort.replace(/[?&]page=[^&]+/g, '');
              window.location.href = newUrlWithoutPage;
            } else {
              const newUrl = `${Url}?${btnName}=${btnValue}`;
              const newUrlWithoutSort = newUrl.replace(/[?&]sort=[^&]+/g, '');
              const newUrlWithoutPage = newUrlWithoutSort.replace(/[?&]page=[^&]+/g, '');
              window.location.href = newUrlWithoutPage;
            }
          });
        });
    
        const sortingButtons = document.querySelectorAll('.sorting');
        sortingButtons.forEach((btn) => {
          const btnName = btn.getAttribute('name');
          const btnValue = btn.getAttribute('value');
          btn.addEventListener('click', () => {
            const Url = window.location.href;
            
            if (Url.includes(`?filter=`)) {
              if (Url.includes(`&${btnName}=${btnValue}`)) {
                const newUrl = Url.replace(`&${btnName}=${btnValue}`, '');
                const newUrlWithoutPage = newUrl.replace(/[?&]page=[^&]+/g, '');
                window.location.href = newUrlWithoutPage;
              } else if (Url.includes(`&${btnName}=`)) {
                const newUrl = Url.replace(new RegExp(`&${btnName}=[^&]+`), `&${btnName}=${btnValue}`);
                const newUrlWithoutPage = newUrl.replace(/[?&]page=[^&]+/g, '');
                window.location.href = newUrlWithoutPage;
              } else {
                const newUrl = `${Url}&${btnName}=${btnValue}`;
                const newUrlWithoutPage = newUrl.replace(/[?&]page=[^&]+/g, '');
                window.location.href = newUrlWithoutPage;
              }
            }
            else {
              if (Url.includes(`?${btnName}=${btnValue}`)) {
                const newUrl = Url.replace(`?${btnName}=${btnValue}`, '');
                const newUrlWithoutPage = newUrl.replace(/[?&]page=[^&]+/g, '');
                window.location.href = newUrlWithoutPage;
              } else if (Url.includes(`?${btnName}=`)) {
                const newUrl = Url.replace(new RegExp(`\\?${btnName}=[^&]+`), `?${btnName}=${btnValue}`);
                const newUrlWithoutPage = newUrl.replace(/[?&]page=[^&]+/g, '');
                window.location.href = newUrlWithoutPage;
              } else {
                const newUrl = `${Url}?${btnName}=${btnValue}`;
                const newUrlWithoutPage = newUrl.replace(/[?&]page=[^&]+/g, '');
                window.location.href = newUrlWithoutPage;
              }
            }
          });
        });
  
        const pageButtons = document.querySelectorAll('.page');
        pageButtons.forEach((btn) => {
          const btnName = btn.getAttribute('name');
          const btnValue = btn.getAttribute('value');
          btn.addEventListener('click', () => {
            const Url = window.location.href;
            if (Url.includes(`?filter=`) || Url.includes(`?sort=`)) {
              if (Url.includes(`&${btnName}=`)) {
                const newUrl = Url.replace(new RegExp(`\\&${btnName}=[^&]+`), `&${btnName}=${btnValue}`);
                window.location.href = newUrl;
              } else {
                const newUrl = `${Url}&${btnName}=${btnValue}`;
                window.location.href = newUrl;
              }
            }
            else {
              if (Url.includes(`?${btnName}=`)) {
                const newUrl = Url.replace(new RegExp(`\\?${btnName}=[^&]+`), `?${btnName}=${btnValue}`);
                window.location.href = newUrl;
              } else {
                const newUrl = `${Url}?${btnName}=${btnValue}`;
                window.location.href = newUrl;
              }
            }
          });
        });
      });
    </script>
{% endblock content %}