{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/recipes/create.css' %}">
{% endblock style %}

{% block content %}
<div class="container mx-auto max-w-screen-xl">
  <form id="form-container" action="{% url 'recipes:recipe_create' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {{ form|crispy }}
    {{ formset.management_form }}
    {% for subform in formset %}
    <div class="ingredient-form">
      {{ subform|crispy }}
    </div>
    {% endfor %}
    <button type="button" id="add-ingredient">재료 추가</button>
    <button type="submit">생성</button>
  </form>
</div>
{% endblock content %}

{% block script %}
<script>
  let ingredientForm = document.querySelectorAll('.ingredient-form')
  let formContainer = document.getElementById('form-container')
  let addIngredient = document.getElementById('add-ingredient')
  let totalForms = document.getElementById('id_recipeingredient_set-TOTAL_FORMS')
  let formNum = ingredientForm.length - 1

  addIngredient.addEventListener('click', addForm)

  function addForm(e) {
    e.preventDefault()

    let newForm = ingredientForm[0].cloneNode(true)
    let formRegex = RegExp(`recipeingredient_set-(\\d){1}-`,'g')

    formNum++
    newForm.innerHTML = newForm.innerHTML.replace(formRegex, `recipeingredient_set-${formNum}-`)
    formContainer.insertBefore(newForm, addIngredient)
    totalForms.setAttribute('value', `${formNum + 1}`)
  }
</script>

<script>
  const editorId = document.querySelector('.django-ckeditor-widget')
  editorId.style.display = 'block'
</script>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{% static 'js/recipes/difficulty.js' %}"></script>
{% endblock script %}