{% extends 'base.html' %}

{% load tailwind_filters %}
{% load static %}

{% block content %}
<div class="container mx-auto">
  <section class="border-t-4 pt-10 mt-10">
      {% comment %} <div class="flex justify-end md:mx-52">
        <button id="dropdownOffsetButton" data-dropdown-toggle="dropdownOffset" data-dropdown-offset-distance="-35" data-dropdown-offset-skidding="0" class="text-black bg-white hover:bg-white focus:ring-4 focus:outline-none focus:ring-white font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center" type="button">
          {% if sort_param == 'created_at' %}
            최신순
          {% elif sort_param == 'liked' %}
            추천순
          {% elif sort_param == 'difficulty' %}
            난이도순
          {% elif sort_param == 'time' %}
            소요시간순
          {% else %}
            최신순
          {% endif %}
            
          <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </button>
  
        <div id="dropdownOffset" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
          <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefault">
            <li>
              <button name="sort" value="created_at" class="sorting block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">최신순</button>
            </li>
            <li>
              <button name="sort" value="liked" class="sorting block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">추천순</button>
            </li>
            <li>
              <button name="sort" value="difficulty" class="sorting block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">난이도순</button>
            </li>
            <li>
              <button name="sort" value="time" class="sorting block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">소요시간순</button>
            </li>
          </ul>
        </div>
      </div> {% endcomment %}
    <div>
      {% comment %} <h2>
        '{{ keyword }}' 이/가 재료에 포함된 레시피 검색결과입니다.
      </h2> {% endcomment %}
      <div class="flex flex-col">
        <div class="md:w-[1200px] md:flex  md:justify-between md:items-center md:mx-auto">
          <h2 class="text-center">'{{ keyword }}' 이/가 재료에 포함된 레시피 검색결과입니다.</h2>
          <div class="flex justify-center">
            <button id="dropdownOffsetButton" data-dropdown-toggle="dropdownOffset" data-dropdown-offset-distance="-35" data-dropdown-offset-skidding="0" class="text-black bg-white hover:bg-white focus:ring-4 focus:outline-none focus:ring-white font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center" type="button">
              {% if sort_param == 'created_at' %}
                최신순
              {% elif sort_param == 'liked' %}
                추천순
              {% elif sort_param == 'difficulty' %}
                난이도순
              {% elif sort_param == 'time' %}
                소요시간순
              {% else %}
                최신순
              {% endif %}
                
              <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
              </svg>
            </button>
      
            <div id="dropdownOffset" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
              <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefault">
                <li>
                  <button name="sort" value="created_at" class="sorting block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">최신순</button>
                </li>
                <li>
                  <button name="sort" value="liked" class="sorting block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">추천순</button>
                </li>
                <li>
                  <button name="sort" value="difficulty" class="sorting block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">난이도순</button>
                </li>
                <li>
                  <button name="sort" value="time" class="sorting block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">소요시간순</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class=" grid grid-cols-2 md:grid-cols-4 gap-4 mx-auto mt-9 ">
          {% for recipe in ingredient_recipes %}
            <div>
              <a class="inline-block" href="{% url 'recipes:recipe_detail' recipe.pk %}">
                <div class="w-72 bg-white">
                  <div class="class">
                    <img class="object-cover w-72 h-72" {% if recipe.image.url|slice:':14' == '/media/images/' %} src="{{ recipe.image.url }}" {% else %} src="{{ recipe.image }}" {% endif %} alt="">
                  </div>
                  <div class="p-5 text-center">
                    <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white line-clamp-1">{{ recipe.title }}</h5>
                    <!--난이도 -->
                    <div class="flex flex-col justify-center">
                      <div class="flex items-center justify-center gap-2">
                        <span>난이도</span>
                        {% if recipe.difficulty == 1 %}
                          <img src="{% static 'img/rating-star.svg' %}" alt="">
                        {% elif recipe.difficulty == 2 %}
                          <img src="{% static 'img/rating-star.svg' %}" alt="">
                          <img src="{% static 'img/rating-star.svg' %}" alt="">
                        {% elif recipe.difficulty == 3 %}
                          <img src="{% static 'img/rating-star.svg' %}" alt="">
                          <img src="{% static 'img/rating-star.svg' %}" alt="">
                          <img src="{% static 'img/rating-star.svg' %}" alt="">
                        {% elif recipe.difficulty == 4 %}
                          <img src="{% static 'img/rating-star.svg' %}" alt="">
                          <img src="{% static 'img/rating-star.svg' %}" alt="">
                          <img src="{% static 'img/rating-star.svg' %}" alt="">
                          <img src="{% static 'img/rating-star.svg' %}" alt="">
                        {% elif recipe.difficulty == 5 %}
                          <img src="{% static 'img/rating-star.svg' %}" alt="">
                          <img src="{% static 'img/rating-star.svg' %}" alt="">
                          <img src="{% static 'img/rating-star.svg' %}" alt="">
                          <img src="{% static 'img/rating-star.svg' %}" alt="">
                          <img src="{% static 'img/rating-star.svg' %}" alt="">
                        {% endif %}
                      </div>
                      <!--조리시간 -->
                      <div class="flex items-center justify-center gap-2">
                        <img class="w-7" src="{% static 'img/coocking-time.png' %}" alt="조리시간">
                        <span class="font-normal text-gray-700 dark:text-gray-400">
                          {% if recipe.get_hour != 0 %}{{ recipe.get_hour }}시간 {% endif %}
                          {% if recipe.get_minute != 0 %}{{ recipe.get_minute }}분{% endif %}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

  </section>

</div>



<script>
  const buttons = document.querySelectorAll('.sorting');

    buttons.forEach((btn) => {
      const btnName = btn.getAttribute('name');
      const btnValue = btn.getAttribute('value');
      btn.addEventListener('click', () => {
        const Url = window.location.href;
    
        if (Url.includes(`&${btnName}=${btnValue}`)) {
          const newUrl = Url.replace(`&${btnName}=${btnValue}`, '');
          window.location.href = newUrl;} 

        else if (Url.includes(`&${btnName}=`)) {
          const newUrl = Url.replace(new RegExp(`&${btnName}=[^&]+`), `&${btnName}=${btnValue}`);
          window.location.href = newUrl;}

        else {
          const newUrl = `${Url}&${btnName}=${btnValue}`;
          window.location.href = newUrl;
        }
      });
    });
</script>
{% endblock content%}