{% extends 'base.html' %}

{% load tailwind_filters %}
{% load static %}

{% block content %}
<div class="container mx-auto max-w-screen-xl">
  <div id="toast-simple" class="absolute z-10 hidden items-center w-fit p-4 space-x-4 text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 shadow-lg shadow-green-500/5 divide-x divide-gray-200 rounded-lg dark:text-gray-400 dark:divide-gray-700 space-x dark:bg-gray-800" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244" />
    </svg>
    <div class="pl-4 text-sm font-normal">링크가 복사되었습니다.</div>
  </div>

  <section class="px-52">
    <!-- 레시피 정보 -->
    <div class="flex-col space-y-4">
      <!-- 사진 -->
      <div class="mt-10 flex justify-between items-center">
        <!-- 목록 -->
        <div class="hover:bg-gray-100 p-1.5 rounded-lg">
          <a id="adj-list-btn" href="#" class="pt-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
          </a>
        </div>

        <!-- 수정/삭제 -->
        {% if request.user == recipe_user or request.user.is_superuser %}
        <div>
          <button id="dropdownMenuIconButton" data-dropdown-toggle="dropdownDots" class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-600" type="button"> 
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z"></path></svg>
          </button>

          <!-- Dropdown menu -->
          <div id="dropdownDots" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-20 dark:bg-gray-700 dark:divide-gray-600">
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownMenuIconButton">
              <li>
                <a href="{% url 'recipes:recipe_update' recipe.pk %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">수정</a>
              </li>
              <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">삭제</a>
              </li>
            </ul>
          </div>
        </div>
        {% endif %}
      </div>
      

      <!-- 인접 게시물 목록 -->
      <div id="adj-list" class="hidden gap-3 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 ">
        {% for recipe in adj_recipes %}
          <div class="relative w-full">
            <a class="hover:brightness-50 peer" href="{% url 'recipes:recipe_detail' recipe.pk %}">
              <div class="text-center">
                <img class="object-cover border w-[216px] h-[183px]" {% if recipe.image.url|slice:':14' == '/media/images/' %} src="{{ recipe.image.url }}" {% else %} src="{{ recipe.image }}" {% endif %} alt="">
                <h1 class="text-lg font-bold line-clamp-1">{{ recipe.title }}</h1>
              </div>
            </a>
            
            <div class="hidden absolute peer-hover:flex flex-col justify-center top-2/4 left-2/4 transform -translate-x-1/2 -translate-y-1/2 text-white w-full">
              <div class="flex items-center justify-center gap-2">
                <span>난이도</span>
                {% if recipe.difficulty == 1 %}
                  <img src="{% static 'img/rating-star.svg' %}" alt="">
                {% elif recipe.difficulty == 2 %}
                  <img src="{% static 'img/rating-star.svg' %}" alt="">
                  <img src="{% static 'img/rating-star.svg' %}" alt="">
                {% elif recipe.difficulty == 3 %}
                  <img src="{% static 'img/rating-star.svg' %}" alt="">
                  <img src="{% static 'img/rating-star.svg' %}" alt="">
                  <img src="{% static 'img/rating-star.svg' %}" alt="">
                {% elif recipe.difficulty == 4 %}
                  <img src="{% static 'img/rating-star.svg' %}" alt="">
                  <img src="{% static 'img/rating-star.svg' %}" alt="">
                  <img src="{% static 'img/rating-star.svg' %}" alt="">
                  <img src="{% static 'img/rating-star.svg' %}" alt="">
                {% elif recipe.difficulty == 5 %}
                  <img src="{% static 'img/rating-star.svg' %}" alt="">
                  <img src="{% static 'img/rating-star.svg' %}" alt="">
                  <img src="{% static 'img/rating-star.svg' %}" alt="">
                  <img src="{% static 'img/rating-star.svg' %}" alt="">
                  <img src="{% static 'img/rating-star.svg' %}" alt="">
                {% endif %}
              </div>
              <!--조리시간 -->
              <div class="flex items-center justify-center gap-2">
                <img class="w-7 brightness-200" src="{% static 'img/cooking-time-white.png' %}" alt="조리시간">
                <span class="font-normal text-white dark:text-gray-400">
                  {% if recipe.get_hour != 0 %}{{ recipe.get_hour }}시간 {% endif %}
                  {% if recipe.get_minute != 0 %}{{ recipe.get_minute }}분{% endif %}
                </span>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="mb-4 flex justify-center">
        <img {% if recipe.image.url|slice:':14' == '/media/images/' %} src="{{ recipe.image.url }}" {% else %} src="{{ recipe.image }}" {% endif %} alt="">
      </div>
      <!-- 제목, 북마크-->
      <div class="flex justify-between">
        <h1 class="text-2xl font-bold">{{ recipe.title }}</h1>
        <div class="flex gap-3">
          <div class="text-center">
            <form id="likes_form" class="" data-recipe-id="{{ recipe.pk }}">
              {% csrf_token %}
              {% if request.user.is_authenticated %}
                <button id="likes_btn" class="border border-red-500 text-red-500 hover:bg-red-500 hover:text-white py-2 px-4 rounded">
                  <i class="bi bi-heart{% if request.user in recipe.like_users.all %}-fill{% endif %} text-danger"></i>
                </button>
              {% else %}
                <button class="border border-red-500 text-red-500 py-2 px-4 rounded cursor-not-allowed opacity-50" disabled>
                  <i class="bi bi-heart"></i>
                </button>
              {% endif %}
            </form>
            <span class="" id="recipe-like-count">{{ recipe.like_users.all.count }}</span>
          </div>

          <form id="bookmark_form" class="me-2" data-recipe-id="{{ recipe.pk }}">
            {% csrf_token %}
            {% if request.user.is_authenticated %}
              <button id="bookmark_btn" class="border border-black text-black-500 hover:bg-black hover:text-white py-2 px-4 rounded">
                <i class="bi bi-bookmark{% if request.user in recipe.bookmark_users.all %}-fill{% endif %} text-danger"></i>
              </button>
            {% else %}
              <button class="border border-black text-black-500 py-2 px-4 rounded cursor-not-allowed opacity-50" disabled>
                <i class="bi bi-bookmark"></i>
              </button>
            {% endif %}
          </form>
        </div>
      </div>
      
      
      <!-- 난이도, 소요시간-->
      <div class="flex justify-between items-center">
        <div class="flex items-center gap-10">
          <div class="flex items-center gap-2">
            <span>난이도</span>
            {% if recipe.difficulty == 1 %}
            <img src="{% static 'img/rating-star.svg' %}" alt="">
          {% elif recipe.difficulty == 2 %}
            <img src="{% static 'img/rating-star.svg' %}" alt="">
            <img src="{% static 'img/rating-star.svg' %}" alt="">
          {% elif recipe.difficulty == 3 %}
            <img src="{% static 'img/rating-star.svg' %}" alt="">
            <img src="{% static 'img/rating-star.svg' %}" alt="">
            <img src="{% static 'img/rating-star.svg' %}" alt="">
          {% elif recipe.difficulty == 4 %}
            <img src="{% static 'img/rating-star.svg' %}" alt="">
            <img src="{% static 'img/rating-star.svg' %}" alt="">
            <img src="{% static 'img/rating-star.svg' %}" alt="">
            <img src="{% static 'img/rating-star.svg' %}" alt="">
          {% elif recipe.difficulty == 5 %}
            <img src="{% static 'img/rating-star.svg' %}" alt="">
            <img src="{% static 'img/rating-star.svg' %}" alt="">
            <img src="{% static 'img/rating-star.svg' %}" alt="">
            <img src="{% static 'img/rating-star.svg' %}" alt="">
            <img src="{% static 'img/rating-star.svg' %}" alt="">
          {% endif %}
          </div>
          <div class="flex items-center gap-2">
            <div class="text-xs">
              <img src="{% static 'img/coocking-time.png' %}" alt="">
            </div>
            <span class="font-normal text-gray-700 dark:text-gray-400">
              {% if recipe.get_hour != 0 %}{{ recipe.get_hour }}시간 {% endif %}
              {% if recipe.get_minute != 0 %}{{ recipe.get_minute }}분{% endif %}
            </span>
          </div>
        </div>
        <div>
          <a class="underline" href="#reviews">후기 보기</a>
        </div>
      </div>
      <hr>
      <div>
        <!-- Dropdown menu -->
        <button id="dropdownTopButton" data-dropdown-toggle="dropdownTop" data-dropdown-placement="top" class="float-right" type="button">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2E8B57" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M7.217 10.907a2.25 2.25 0 100 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186l9.566-5.314m-9.566 7.5l9.566 5.314m0 0a2.25 2.25 0 103.935 2.186 2.25 2.25 0 00-3.935-2.186zm0-12.814a2.25 2.25 0 103.933-2.185 2.25 2.25 0 00-3.933 2.185z" />
          </svg>
        </button>
        <div id="dropdownTop" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-lg w-fit dark:bg-gray-700">
          <ul class="flex gap-3 items-center p-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownTopButton">
            <button id="btnKakao" class="w-9" onclick="shareKakao()" data-title="{{ recipe.title }}" data-content="{{ recipe.content }}" data-link="{% url 'recipes:recipe_detail' recipe.pk %}" data-base-link="{% url 'index' %}" data-like-count="{{ recipe.like_users.all.count }}" data-comment-count="{{ reviews.count }}">
              <img src="https://developers.kakao.com/assets/img/about/logos/kakaotalksharing/kakaotalk_sharing_btn_medium.png" alt="카카오톡 공유 보내기 버튼"/>
            </button>
            <button onclick="copyLink()" class="bg-green-100 w-9 h-9 flex justify-center items-center rounded-lg">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244" />
              </svg>
            </button>
          </ul>
        </div>
        <p class="text-gray-600">{{ recipe.content|safe }}</p>
      </div>
    </div>
    <!-- 재료 -->
    <div>
      <div class="flex justify-between items-center border-b border-b-[#2e8b57]">
        <p class="text-xl font-bold mt-3">재료</p>
        <button data-modal-target="defaultModal" data-modal-toggle="defaultModal" class="block text-lg" type="button">
          <i class="bi bi-info-circle"></i>
        </button>
      </div>
      <div class="mt-3">
        <div class="relative overflow-x-auto">
          <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
              <tr>
                <th scope="col" class="px-6 py-3">
                  재료
                </th>
                <th scope="col" class="px-6 py-3 text-end">
                  수량
                </th>
              </tr>
            </thead>
            <tbody>
              {% for ingredient in ingredients %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ ingredient.ingredient }}
                  </th>
                  <td class="px-6 py-4 text-end">
                    {{ ingredient.quantity }}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- 레시피 순서-->
    <div>
      <p class="text-xl font-bold mt-3 border-b border-b-[#2e8b57]">레시피</p>
      <div class="p-5">
        <!-- 레시피 순서 content -->
        {% for step in recipe.recipestep_set.all %}
        <div class="grid grid-cols-2 lg:grid-cols-12 gap-3 mb-3">
          <div class="lg:col-span-1 w-8 h-8 bg-[#2e8b57] text-white text-center rounded-[70px] text-xl">{{ forloop.counter }}</div>
          <p class="lg:col-span-11">{{ step.detail|linebreaksbr }}</p>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="mt-10 ">
      {% if request.user.is_authenticated %}
        <form id="review-form" class="mt-5" data-pk="{{ recipe.pk }}" data-csrftoken="{{ csrf_token }}" data-url="{% url 'recipes:review_create' recipe.pk %}">
          {% csrf_token %}
          <div class="border rounded-lg p-5 pb-0">
            <p class="font-bold ms-4">{{ request.user.nickname }}</p>
            {{ review_form.content|as_crispy_field }}
            <div class="flex justify-end">
              <button type="submit" id="review_create_submit" class="text-white bg-[#2e8b57] hover:bg-[#3CB371] focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-2.5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">작성</button>
            </div>
          </div>
        </form>
      {% endif %}

      <!-- 이게 진짜 댓글 -->
      <section id="reviews">
        <p class="text-xl font-bold mt-3 mb-5 border-b border-b-[#2e8b57]">댓글 <span id="review-count">{{ reviews.count }}</span></p>
        {% for review in reviews %}
        <div id="review" {% if request.user == review.user %} class="grid grid-cols-12 text-sm gap-3 py-5 px-3 bg-[#9ACD32]/[0.2] border-b" {% else %} class="grid grid-cols-12 text-sm mt-3  px-3 border-b" {% endif %} data-csrftoken="{{ csrf_token }}" data-recipe-pk="{{ recipe.pk }}" data-review-pk="{{ review.pk }}"  data-update-url="{% url 'recipes:review_update' %}" data-delete-url="{% url 'recipes:review_delete' recipe.pk review.pk %}">
          <!-- 리뷰 작성자 프로필 사진 -->
          <div class="col-span-1 flex items-start mb-1">
            <img class="w-10 rounded-full" {% if review.user.profile_image %} src="{{ review.user.profile_image.url }}" {% else %} src="{% static 'img/profile_image2.png' %}"{% endif %} alt="profile">
          </div>
          <!-- 작성자 / 내용 -->
          <div class="col-span-11">
            <div class="flex justify-between">
              <p class="font-bold mb-1">{{ review.user.nickname }}</p>
              {% if request.user == review.user %}
              <div>
                <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown-{{ review.pk }}" type="button"><i class="bi bi-three-dots-vertical"></i></button>
                <div id="dropdown-{{ review.pk }}" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-20 dark:bg-gray-700">
                  <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                    <li>
                      <a id="edit-btn" class="block m-0 px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer">수정</a>
                    </li>
                    <li>
                      <a id="delete-btn" class="block m-0 px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer">삭제</a>
                    </li>
                  </ul>
                </div>
              </div>
              {% endif %}
            </div>
            <div id="review" class="mb-2" data-csrftoken="{{ csrf_token }}" data-recipe-pk="{{ recipe.pk }}" data-review-pk="{{ review.pk }}"  data-update-url="{% url 'recipes:review_update' %}">
              <p id="review-content" class="col-span-6 flex items-center">{{ review.content|linebreaksbr }}</p>
              <div id="comment-textarea" class="hidden col-span-6 w-full mb-4 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
                <div class="px-4 py-2 bg-white rounded-t-lg dark:bg-gray-800">
                  <label for="comment" class="sr-only">Your comment</label>
                  <textarea id="review-update-field" rows="4" class="w-full px-0 text-sm text-gray-900 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400">{{ review.content|linebreaksbr }}</textarea>
                </div>
                <div class="flex items-cente gap-3 px-3 py-2 border-t dark:border-gray-600">
                  <button id="submit-btn" type="submit" class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-[#2E8B57] rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-[#3CB371]">
                      수정
                  </button>
                  <button id="cancel-btn" class="text-gray-500">취소</button>
                </div>
              </div>
              <!-- 드롭다운 버튼 -->
            </div>
            <p class="text-gray-500 mb-3">{{ review.created_at|date:'Y-m-d H:i' }}</p>
          </div>
        </div>
        {% endfor %}
      </section>
    </div>
  </section>
</div>

<!-- 계량 모달 -->
<div id="defaultModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative w-full max-w-lg max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
          계량법 안내
        </h3>
        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="defaultModal">
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="space-y-6">
        <div class="relative overflow-x-auto sm:rounded-lg">
          <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <tbody>
              <tr class="border-b bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  1큰술(1T, 1Ts) = 1숟가락
                </th>
                <td class="px-6 py-4 text-end">
                  15ml = 3t
                  {% comment %} <span>(계량스푼이 없는 경우 밥숟가락으로 볼록하게 가득 담으면 1큰술)</span> {% endcomment %}
                </td>
              </tr>
              <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  1 작은술(1t,1ts)
                </th>
                <td class="px-6 py-4 text-end">
                  5ml
                </td>
              </tr>
              <tr class="border-b bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  1컵(1Cup,1C)
                </th>
                <td class="px-6 py-4 text-end">
                  200ml = 16T(한국,중국,일본)
                </td>
              </tr>
              <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  1종이컵
                </th>
                <td class="px-6 py-4 text-end">
                  180ml
                </td>
              </tr>
              <tr class="border-b bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  1oz
                </th>
                <td class="px-6 py-4 text-end">
                  28.3g
                </td>
              </tr>
              <tr class="border-b">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  1파운드(lb)
                </th>
                <td class="px-6 py-4 text-end">
                 약 0.453 킬로그램(kg)
                </td>
              </tr>
              <tr class="border-b bg-gray-50">
                <th scope="row" class=" px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  1갤런(gallon)
                </th>
                <td class="px-6 py-4 text-end">
                 약 0.378 리터
                </td>
              </tr>
              <tr class="border-b">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  고기 1근
                </th>
                <td class="px-6 py-4 text-end">
                 600g
                </td>
              </tr>
              <tr class="border-b bg-gray-50">
                <th scope="row" class= " px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  채소 1근
                </th>
                <td class="px-6 py-4 text-end">
                 400g
                </td>
              </tr>
              <tr class="border-b">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  채소 1봉지
                </th>
                <td class="px-6 py-4 text-end">
                 200g 정도
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="flex items-center p-6 justify-center border-gray-200 rounded-b dark:border-gray-600">
        <button data-modal-hide="defaultModal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">닫기</button>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'js/recipes/review.js' %}"></script>
<script src="{% static 'js/recipes/adj-list.js' %}"></script>
<script src="{% static 'js/recipes/kakao-share.js' %}"></script>
<script>
  const likesForm = document.querySelector('#likes_form')
  const likeFormCsrfToken = likesForm.querySelector('[name=csrfmiddlewaretoken]').value;
  let recipeLikeCount = document.querySelector('#recipe-like-count')
  likesForm.addEventListener('submit', function (event) {
    event.preventDefault()
    const recipeId = event.target.dataset.recipeId

    axios({
      method : 'post',
      url: `/recipes/${recipeId}/like/`,
      headers: {'X-CSRFToken': likeFormCsrfToken},
    })
    .then((response) => {
      const isLiked = response.data.is_liked
      const likeIcon = document.querySelector('#likes_btn > i')
      if (isLiked === true) {
        likeIcon.classList.remove('bi-heart')
        likeIcon.classList.add('bi-heart-fill')
        recipeLikeCount.textContent = parseInt(recipeLikeCount.textContent) + 1
      } else {
        likeIcon.classList.add('bi-heart')
        likeIcon.classList.remove('bi-heart-fill')
        recipeLikeCount.textContent = parseInt(recipeLikeCount.textContent) - 1
      }
    })
  })

  const bookmarkForm = document.querySelector('#bookmark_form')
  const bookmarkFormCsrfToken = bookmarkForm.querySelector('[name=csrfmiddlewaretoken]').value;
  bookmarkForm.addEventListener('submit', function (event) {
    event.preventDefault()
    const recipeId = event.target.dataset.recipeId

    axios({
      method : 'post',
      url: `/recipes/${recipeId}/bookmark/`,
      headers: {'X-CSRFToken': bookmarkFormCsrfToken},
    })
    .then((response) => {
      const isbookmark = response.data.is_bookmark
      const bookmarkIcon = document.querySelector('#bookmark_btn > i')
      if (isbookmark === true) {
        bookmarkIcon.classList.remove('bi-bookmark')
        bookmarkIcon.classList.add('bi-bookmark-fill')
      } else {
        bookmarkIcon.classList.add('bi-bookmark')
        bookmarkIcon.classList.remove('bi-bookmark-fill')
      }
    })
  })
</script>
{% endblock content %}