/* style */
#wrapper-body {
  position: relative;
  height: auto;
  min-height: calc(100vh - 120px);
}

@font-face {
  font-family: 'Yeongdo-Rg';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/Yeongdo-Rg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.logo-font {
  font-family: 'Yeongdo-Rg' !important;
}