{% load static %}
<div>
<h1 class="logo-font text-4xl text-center my-8">좋아요</h1>
<div class="flex justify-center items-center">
  <div class="recipe-weather-slide" style="width : 80%">
    <div>
      <a class="inline-block" href="#">
        <div class="w-48 bg-white dark:bg-gray-800 dark:border-gray-700">
          <div>
            <img class="w-fit" src="https://cdn.discordapp.com/attachments/1100972915958235296/1110827567675625554/7.jpeg" alt="" />
          </div>
          <div class="p-5 text-center">
            <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">썩소고양이</h5>
            <div class="flex items-center justify-center gap-2">
              <span class="font-normal text-gray-700 dark:text-gray-400">난이도</span>
              <img src="{% static 'img/rating-star.svg' %}" alt="">
            </div>
            <div class="flex items-center justify-center gap-2">
              <img class="w-7" src="{% static 'img/coocking-time.png' %}" alt="조리시간">
              <span class="font-normal text-gray-700 dark:text-gray-400">15분</span>
            </div>
          </div>
        </div>
      </a>
    </div>
  <!-- 2 -->
    <div>
      <a class="inline-block" href="#">
        <div class="w-48 bg-white dark:bg-gray-800 dark:border-gray-700">
          <div>
            <img class="object-cover w-48 h-48" src="https://cdn.discordapp.com/attachments/1100972915958235296/1110830867049357343/resized_SmartSelect_20220928_193644_YouTube.jpg" alt="" />
          </div>
            <div class="p-5 text-center">
            <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">미묘</h5>
            <div class="flex items-center justify-center gap-2">
              <span class="font-normal text-gray-700 dark:text-gray-400">난이도</span>
              <img src="{% static 'img/rating-star.svg' %}" alt="">
            </div>
            <div class="flex items-center justify-center gap-2">
              <img class="w-7" src="{% static 'img/coocking-time.png' %}" alt="조리시간">
              <span class="font-normal text-gray-700 dark:text-gray-400">15분</span>
            </div>
          </div>
        </div>
      </a>
    </div>
  <!-- 3 -->
    <div>
      <a class="inline-block" href="#">
        <div class="w-48 bg-white dark:bg-gray-800 dark:border-gray-700">
          <div>
            <img class="object-cover w-48 h-48" src="https://cdn.discordapp.com/attachments/1100972915958235296/1110827802946703430/e0147c2e083e50818e468babff9e8a76bf9dd24c_20230225_003103_waifu2x_photo_noise1_scale_waifu2x_photo_noise2_scale.png" alt="" />
          </div>
          <div class="p-5 text-center">
            <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">이백이</h5>
            <div class="flex items-center justify-center gap-2">
              <span class="font-normal text-gray-700 dark:text-gray-400">난이도</span>
              <img src="{% static 'img/rating-star.svg' %}" alt="">
            </div>
            <div class="flex items-center justify-center gap-2">
              <img class="w-7" src="{% static 'img/coocking-time.png' %}" alt="조리시간">
              <span class="font-normal text-gray-700 dark:text-gray-400">15분</span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <!-- 4 -->
    <div>
      <a class="inline-block" href="#">
        <div class="w-48 bg-white dark:bg-gray-800 dark:border-gray-700">
          <div>
            <img class="object-cover w-48 h-48" src="https://media.discordapp.net/attachments/1100972915958235296/1110829107643695104/4.jpeg?width=961&height=1402" alt="" />
          </div>
          <div class="p-5 text-center">
            <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">짱이 될거야</h5>
            <div class="flex items-center justify-center gap-2">
              <span class="font-normal text-gray-700 dark:text-gray-400">난이도</span>
              <img src="{% static 'img/rating-star.svg' %}" alt="">
            </div>
            <div class="flex items-center justify-center gap-2">
              <img class="w-7" src="{% static 'img/coocking-time.png' %}" alt="조리시간">
              <span class="font-normal text-gray-700 dark:text-gray-400">15분</span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <!-- 5 -->
    <div>
      <a class="inline-block" href="#">
        <div class="w-48 bg-white dark:bg-gray-800 dark:border-gray-700">
          <div>
            <img class="object-cover w-48 h-48" src="https://cdn.discordapp.com/attachments/1100972915958235296/1110829233279873085/2.jpeg" alt="" />
          </div>
          <div class="p-5 text-center">
            <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">노래듣는 강아지</h5>
            <div class="flex items-center justify-center gap-2">
              <span class="font-normal text-gray-700 dark:text-gray-400">난이도</span>
              <img src="{% static 'img/rating-star.svg' %}" alt="">
            </div>
            <div class="flex items-center justify-center gap-2">
              <img class="w-7" src="{% static 'img/coocking-time.png' %}" alt="조리시간">
              <span class="font-normal text-gray-700 dark:text-gray-400">15분</span>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<div>
  <h1 class="logo-font text-4xl text-center my-8">북마크</h1>
  <div class="flex justify-center items-center">
    <div class="recipe-weather-slide" style="width : 80%">
      <div>
        <a class="inline-block" href="#">
          <div class="w-48 bg-white dark:bg-gray-800 dark:border-gray-700">
            <div>
              <img class="w-fit" src="https://cdn.discordapp.com/attachments/1100972915958235296/1110827567675625554/7.jpeg" alt="" />
            </div>
            <div class="p-5 text-center">
              <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">썩소고양이</h5>
              <div class="flex items-center justify-center gap-2">
                <span class="font-normal text-gray-700 dark:text-gray-400">난이도</span>
                <img src="{% static 'img/rating-star.svg' %}" alt="">
              </div>
              <div class="flex items-center justify-center gap-2">
                <img class="w-7" src="{% static 'img/coocking-time.png' %}" alt="조리시간">
                <span class="font-normal text-gray-700 dark:text-gray-400">15분</span>
              </div>
            </div>
          </div>
        </a>
      </div>
    <!-- 2 -->
      <div>
        <a class="inline-block" href="#">
          <div class="w-48 bg-white dark:bg-gray-800 dark:border-gray-700">
            <div>
              <img class="object-cover w-48 h-48" src="https://cdn.discordapp.com/attachments/1100972915958235296/1110830867049357343/resized_SmartSelect_20220928_193644_YouTube.jpg" alt="" />
            </div>
              <div class="p-5 text-center">
              <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">미묘</h5>
              <div class="flex items-center justify-center gap-2">
                <span class="font-normal text-gray-700 dark:text-gray-400">난이도</span>
                <img src="{% static 'img/rating-star.svg' %}" alt="">
              </div>
              <div class="flex items-center justify-center gap-2">
                <img class="w-7" src="{% static 'img/coocking-time.png' %}" alt="조리시간">
                <span class="font-normal text-gray-700 dark:text-gray-400">15분</span>
              </div>
            </div>
          </div>
        </a>
      </div>
    <!-- 3 -->
      <div>
        <a class="inline-block" href="#">
          <div class="w-48 bg-white dark:bg-gray-800 dark:border-gray-700">
            <div>
              <img class="object-cover w-48 h-48" src="https://cdn.discordapp.com/attachments/1100972915958235296/1110827802946703430/e0147c2e083e50818e468babff9e8a76bf9dd24c_20230225_003103_waifu2x_photo_noise1_scale_waifu2x_photo_noise2_scale.png" alt="" />
            </div>
            <div class="p-5 text-center">
              <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">이백이</h5>
              <div class="flex items-center justify-center gap-2">
                <span class="font-normal text-gray-700 dark:text-gray-400">난이도</span>
                <img src="{% static 'img/rating-star.svg' %}" alt="">
              </div>
              <div class="flex items-center justify-center gap-2">
                <img class="w-7" src="{% static 'img/coocking-time.png' %}" alt="조리시간">
                <span class="font-normal text-gray-700 dark:text-gray-400">15분</span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- 4 -->
      <div>
        <a class="inline-block" href="#">
          <div class="w-48 bg-white dark:bg-gray-800 dark:border-gray-700">
            <div>
              <img class="object-cover w-48 h-48" src="https://media.discordapp.net/attachments/1100972915958235296/1110829107643695104/4.jpeg?width=961&height=1402" alt="" />
            </div>
            <div class="p-5 text-center">
              <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">짱이 될거야</h5>
              <div class="flex items-center justify-center gap-2">
                <span class="font-normal text-gray-700 dark:text-gray-400">난이도</span>
                <img src="{% static 'img/rating-star.svg' %}" alt="">
              </div>
              <div class="flex items-center justify-center gap-2">
                <img class="w-7" src="{% static 'img/coocking-time.png' %}" alt="조리시간">
                <span class="font-normal text-gray-700 dark:text-gray-400">15분</span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- 5 -->
      <div>
        <a class="inline-block" href="#">
          <div class="w-48 bg-white dark:bg-gray-800 dark:border-gray-700">
            <div>
              <img class="object-cover w-48 h-48" src="https://cdn.discordapp.com/attachments/1100972915958235296/1110829233279873085/2.jpeg" alt="" />
            </div>
            <div class="p-5 text-center">
              <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">노래듣는 강아지</h5>
              <div class="flex items-center justify-center gap-2">
                <span class="font-normal text-gray-700 dark:text-gray-400">난이도</span>
                <img src="{% static 'img/rating-star.svg' %}" alt="">
              </div>
              <div class="flex items-center justify-center gap-2">
                <img class="w-7" src="{% static 'img/coocking-time.png' %}" alt="조리시간">
                <span class="font-normal text-gray-700 dark:text-gray-400">15분</span>
              </div>
            </div>
          </div>
        </a>
      </div>
  </div>
</div>
