{% load static %}

<div>
  <h1 class="logo-font text-4xl text-center my-8">좋아요</h1>
  <div class="flex justify-center items-center">
    <div class="recipe-weather-slide" style="width : 80%">
      {% for recipe in like_recipes %}
      <div>
        <a class="inline-block" href="{% url 'recipes:recipe_detail' recipe.pk %}">
          <div class="w-32 sm:w-48 bg-white dark:bg-gray-800 dark:border-gray-700">
            <div>
              <img class="object-cover w-32 h-32 sm:w-48 sm:h-48" {% if recipe.image.url|slice:':14' == '/media/recipes' %} src="{{ recipe.image.url }}" {% else %} src="{{ recipe.image }}" {% endif %} alt="">
            </div>
            <div class="sm:p-5 text-center">
              <h5 class="mb-2 sm:text-xl text-sm font-bold tracking-tight text-gray-900 dark:text-white line-clamp-1">{{ recipe.title }}</h5>
              <div class="flex flex-col justify-center">
                <div class="flex items-center justify-center">
                  <span class="text-sm sm:text-base">난이도</span>
                  {% if recipe.difficulty == 1 %}
                    <img class="w-[9px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                  {% elif recipe.difficulty == 2 %}
                    <img class="w-[9px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                    <img class="w-[9px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                  {% elif recipe.difficulty == 3 %}
                    <img class="w-[9px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                    <img class="w-[9px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                    <img class="w-[9px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                  {% elif recipe.difficulty == 4 %}
                    <img class="w-[9px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                    <img class="w-[9px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                    <img class="w-[9px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                    <img class="w-[9px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                  {% elif recipe.difficulty == 5 %}
                    <img class="w-[9px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                    <img class="w-[9px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                    <img class="w-[9px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                    <img class="w-[9px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                    <img class="w-[9px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                  {% endif %}
                </div>
                <!--조리시간 -->
                <div class="flex items-center justify-center gap-2">
                  <img class="w-5 sm:w-7" src="{% static 'img/coocking-time.png' %}" alt="조리시간">
                  <span class="text-sm sm:text-base text-gray-700 dark:text-gray-400">
                    {% if recipe.get_hour != 0 %}{{ recipe.get_hour }}시간 {% endif %}
                    {% if recipe.get_minute != 0 %}{{ recipe.get_minute }}분{% endif %}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      {% empty %}
      <div class="w-fit m-0">
        <h1 class="text-center">레시피를 추가해보세요</h1>
      </div>
      {% endfor %}
    </div>
  </div>

  <!--북마크-->
  <div>
    <h1 class="logo-font text-4xl text-center my-8">북마크</h1>
    <div class="flex justify-center items-center">
      <div class="recipe-weather-slide" style="width : 80%">
        {% for recipe in bookmark_recipes %}
        <div>
          <a class="inline-block" href="{% url 'recipes:recipe_detail' recipe.pk %}">
            <div class="w-32 sm:w-48 bg-white dark:bg-gray-800 dark:border-gray-700">
              <div>
                <img class="object-cover w-32 h-32 sm:w-48 sm:h-48" {% if recipe.image.url|slice:':14' == '/media/recipes' %} src="{{ recipe.image.url }}" {% else %} src="{{ recipe.image }}" {% endif %} alt="">
              </div>
              <div class="sm:p-5 text-center">
                <h5 class="mb-2 sm:text-xl text-sm font-bold tracking-tight text-gray-900 dark:text-white line-clamp-1">{{ recipe.title }}</h5>
                <div class="flex flex-col justify-center">
                  <div class="flex items-center justify-center">
                    <span class="text-sm sm:text-base">난이도</span>
                    {% if recipe.difficulty == 1 %}
                      <img class="w-[9px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                    {% elif recipe.difficulty == 2 %}
                      <img class="w-[9px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                      <img class="w-[9px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                    {% elif recipe.difficulty == 3 %}
                      <img class="w-[9px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                      <img class="w-[9px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                      <img class="w-[9px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                    {% elif recipe.difficulty == 4 %}
                      <img class="w-[9px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                      <img class="w-[9px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                      <img class="w-[9px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                      <img class="w-[9px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                    {% elif recipe.difficulty == 5 %}
                      <img class="w-[9px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                      <img class="w-[9px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                      <img class="w-[9px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                      <img class="w-[9px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                      <img class="w-[9px] sm:w-[18px]" src="{% static 'img/rating-star.svg' %}" alt="">
                    {% endif %}
                  </div>
                  <!--조리시간 -->
                  <div class="flex items-center justify-center gap-2">
                    <img class="w-5 sm:w-7" src="{% static 'img/coocking-time.png' %}" alt="조리시간">
                    <span class="text-sm sm:text-base text-gray-700 dark:text-gray-400">
                      {% if recipe.get_hour != 0 %}{{ recipe.get_hour }}시간 {% endif %}
                      {% if recipe.get_minute != 0 %}{{ recipe.get_minute }}분{% endif %}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        {% empty %}
        <h1 class="text-center">북마크를 추가해보세요</h1>
        {% endfor %}
      
      </div>
    </div>
  </div>