{% extends 'base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{% static 'css/accounts/profile.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>

{% endblock style%}

{% block content %}
  <div class="container mx-auto max-w-screen-xl py-10">
    <div class='d-flex align-items-center justify-content-between mt-3 mb-2 mr'>
      <div class='sm:flex mt-2 mb-2'>
        <div class="sm:w-1/6 sm:pr-10">
          <div class="flex justify-center items-center flex-col">
            <!-- 프로필 이미지 -->
            <div class="mx-auto">
              {% if person.profile_image %}
                <img src="{{ person.profile_image.url }}" class="card-img-top rounded-2 mx-auto mt-4 w-[150px]" alt="image">
              {% else %}
                <img src="{% static 'img/profile_image2.png' %}" class="card-img-top rounded-2 mx-auto mt-4 w-[150px]" alt="image">
              {% endif %}
              <div class="card-body mal">
                <p class="card-text text-center mt-1 dark:text-gray-400">{{ person.nickname }}</p>
              </div>
            </div>
        
            <!-- 팔로잉 목록 -->
            <div class="flex">
              <button type="button" class="btn f_list" data-modal-toggle="staticModal1" data-modal-target="#exampleModal1">
                팔로잉
                {{ person.followings.all.count }}
              </button>
              <!--팔로잉 모달 -->
              <div id="staticModal1" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
                <div class="relative max-h-full">
                  <!-- Modal content -->
                  <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 ">
                    <!-- Modal header -->
                    <div class="flex items-start justify-center p-4 border-b rounded-t dark:border-gray-600">
                      <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                        팔로잉 목록
                      </h3>
                      <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="staticModal1">
                        <svg class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                        </svg>
                      </button>
                    </div>
                    <!-- Modal body -->
                    <div class="p-6 space-y-6 ">
                      {% if person.followings.all %}
                        <ul>
                          {% for following in person.followings.all %}
                            <li class='me-3' style='font-weight:bold;'>
                              <div class="flex items-center mb-3">
                                {% if following.profile_image %}
                                  <img class="w-[40px] rounded-full" src="{{ following.profile_image.url }}" alt="profile.img">
                                {% else %}
                                  <img class="w-[40px] rounded-full" src="{% static 'img/profile_image2.png' %}" alt="default.img">
                                {% endif %}
                                
                                <a href="{% url 'accounts:profile' following.username %}"> <span class="ml-2  hover:text-green-700 " >{{ following.nickname }}</span> </a>
                              </div>
                            </li>
                          {% endfor %}
                        </ul>
                      {% else %}
                        <p>팔로우하는 사람이 없습니다</p>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>

              <p class='f_list' style='color: gray;'>|</p>

              <button type="button" class="btn f_list" data-modal-toggle="staticModal2" data-modal-target="#exampleModal2">
                팔로워
                {{ person.followers.all.count }}
              </button>
              <!--팔로워 모달 -->
              <div id="staticModal2"  tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
                <div class="relative max-h-full">
                  <!-- Modal content -->
                  <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 max-w-screen-lg">
                    <!-- Modal header -->
                    <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                      <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                        팔로워 목록
                      </h3>
                      <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="staticModal2">
                        <svg class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                        </svg>
                      </button>
                    </div>
                    <!-- Modal body -->
                    <div class="p-6 space-y-6 max-h-screen-md ">
                      {% if person.followers.all %}
                        <ul>
                          {% for following in person.followers.all %}
                            <li class='me-3' style='font-weight:bold;'>
                              <div class="flex items-center mb-3">
                                {% if following.profile_image %}
                                  <img class="w-[40px] rounded-full mb-1" src="{{ following.profile_image.url }}" alt="profile.img">
                                {% else %}
                                  <img class="w-[40px] rounded-full" src="{% static 'img/profile_image2.png' %}" alt="default.img">
                                {% endif %}
                        
                                <a href="{% url 'accounts:profile' following.username %}"> <span class='ml-2 hover:text-green-700'>{{ following.nickname }}</span></a>
                              </div>
                            <li>
                          {% endfor %}
                        </ul>
                      {% else %}
                        <p>팔로워하는 사람이 없습니다</p>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- 팔로잉 버튼 -->
            <div>
              {% if person != user %}
                <form action="{% url 'accounts:follow' person.pk %}" method="post">
                  {% csrf_token %}
                  {% if user in person.followers.all %}
                    <button type="submit" class="dark:text-white">Unfollow
                      <i class="fa-solid fa-user-minus"></i>
                    </button>
                  {% else %}
                    <button type="submit" class="dark:text-white">Follow
                      <i class="fa-solid fa-user-plus"></i>
                    </button>
                  {% endif %}
                </form>
              {% endif %}
            </div>
            
          </div>
          <br>
            <hr class='m-0 ms-1 me-1'>
            <a href="{% url 'accounts:profile' person %}?q=bookmark" class="flex justify-center items-center gap-2 sm:justify-items-start">
              {% comment %} <img class="w-10 h-10 " src="{% static 'img/icon_bookmark.svg' %}" alt=""> {% endcomment %}
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 dark:text-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z" />
              </svg>              
              <p class='py-3 text-center dark:text-white'>북마크</p>
            </a>

            <hr class='m-0 ms-1 me-1'>

            <a href="{% url 'accounts:profile' person %}?q=community" class="flex justify-center items-center pr-2">
              <span class="material-symbols-outlined pr-2 dark:text-white">rate_review</span>
              <p class="py-3 text-center dark:text-white">내가 쓴 글 보기</p>
            </a>

            <hr class='m-0 ms-1 me-1'>

            <a href="{% url 'accounts:profile' person %}?q=comment" class="flex justify-center items-center">
              <span class="material-symbols-outlined pr-2 dark:text-white">comment</span>
              <p class="py-3 text-center dark:text-white">내가 쓴 댓글 보기</p>
            </a>

            <hr class='m-0 ms-1 me-1'>

            <a href="{% url 'accounts:profile' person %}?q=recipe" class="flex justify-center items-center">
              <span class="material-symbols-outlined pr-2 dark:text-white">storefront</span>
              <p class="py-3 text-center dark:text-white">내가 작성한 레시피</p>
            </a>

            <hr class='m-0 ms-1 me-1'>
        </div>
        <!-- 왼쪽 쿼리 -->
        <div class="sm:w-5/6">
          <div class='info flex flex-col p-0'>
            {% if q == 'bookmark' %}
              {% include 'accounts/bookmark.html' %}
            {% elif q == 'community'%}
              {% include 'accounts/community.html' %}
            {% elif q == 'comment'%}
              {% include 'accounts/comment.html' %}
            {% elif q == 'recipe'%}
              {% include 'accounts/recipe.html' %}
            {% else %}
              {% include 'accounts/bookmark.html' %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.js"></script>
  <script src="{% static 'js/recipes/carousel.js' %}"></script>
  <script src="{% static 'js/recipes/weather.js' %}"></script>
  <script src="{% static 'js/recipes/index-more.js' %}"></script>
{% endblock content %}
