.recipe-weather-slide {
  position: relative;
}

.recipe-weather-slide button {
  background-color: rgb(191, 191, 191);
  color: white;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  top: 25%;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
}

.recipe-likes-slide {
  position: relative;
}

.recipe-likes-slide button {
  background-color: rgb(191, 191, 191);
  color: white;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  top: 25%;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
}

.slick-prev {
  text-align: center;
  left: -50px;
}

.slick-next {
  right: -45px;
}