{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
  <!-- 글꼴 -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  <!-- slick slider -->
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/recipes/index.css' %}">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
 
  <title>Document</title>
  <style>
    font-family: 'Noto Sans KR', sans-serif;
    {% block style %}
    {% endblock style %}
  </style>
</head>

<body>
  {% include 'navbar.html' %}
  {% include 'controller.html' %}

  <div id="wrapper-body" class="container mx-auto max-w-screen-xl px-4">
    {% block content %}
    {% endblock content %}
  </div>
  
  {% include 'footer.html' %}

  <script>
    {% block script %}
    {% endblock script %}
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
</body>
</html>