<div class="hidden md:block md:fixed bottom-10 right-[124px] z-10">
  <a href="#" class="flex items-center justify-center text-white bg-green-700 rounded-full w-14 h-14 hover:bg-green-800 dark:bg-blue-600 dark:hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:focus:ring-blue-800">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 15.75l7.5-7.5 7.5 7.5" />
    </svg>
  </a>
</div>